<div class="input-group">
  <input [(ngModel)]="dateAsString"
    (change)="onDateTextInputChange($event)"
    (focus)="_showDatePicker = false"
    placeholder="{{ 'inputDateFormat' | translate }}"
    class="form-control">
  <span class="input-group-btn">
    <button (click)="_showDatePicker = !_showDatePicker"
      class="btn btn-default">
      <span class="glyphicon glyphicon-calendar"></span>
    </button>
  </span>
</div>

<datepicker *ngIf="_showDatePicker"
  [activeDate]="_date"
  [startingDay]="1"
  (selectionDone)="onSelectDateFromCalendarPopup($event)">
</datepicker>
