<div class="administrative-confirmation">
  <div *ngIf="isUserAuthorized; else viewStateOnly">
    <div class="accept-buttons" *ngIf="isUserAuthorized; else waitingForAcceptance">
      <div class="radio">
        <label>
          <input
            name="{{ confirmationName + '-accepted' }}"
            type="radio"
            [value]="StudyFormConfirmationState.ACCEPTED"
            [(ngModel)]="confirmationState"
            (ngModelChange)="onStateChange($event)"
          >
          {{ 'accept' | translate }}
        </label>
      </div>
      <div class="radio">
        <label>
          <input
            name="{{ confirmationName + '-rejected' }}"
            type="radio"
            [value]="StudyFormConfirmationState.REJECTED"
            [(ngModel)]="confirmationState"
            (ngModelChange)="onStateChange($event)"
          >
          {{ 'reject' | translate }}
        </label>
      </div>
    </div>
  </div>

  <ng-template #viewStateOnly>
    <div *ngIf="confirmationState === StudyFormConfirmationState.ACCEPTED.valueOf()">
      <div class="text-success">
        <i class="fa fa-check"></i> {{ 'accepted' | translate }}
      </div>
    </div>
    <div *ngIf="confirmationState === StudyFormConfirmationState.REJECTED.valueOf()">
      <p class="text-danger">
        <i class="fa fa-times"></i> {{ 'rejected' | translate }}
      </p>
    </div>
    <div *ngIf="confirmationState === StudyFormConfirmationState.PENDING.valueOf()">
      <i class="fa fa-clock-o"></i>
      {{ 'waitingForAcceptance' | translate }}
    </div>
  </ng-template>
</div>
