<ng-container *ngIf="study; else loadingStudy;">

  <study-sidebar [study]="study"
                   [activeSection]="sidebarActiveSection">
  </study-sidebar>

  <div class="content-container">

    <div class="content-header container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ study.prefLabel | lang }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <last-modified [modifier]="study.lastModifiedByUser"
                     [lastModifiedDate]="study.lastModifiedDate">
          </last-modified>
        </div>
      </div>
    </div>

    <div class="content-body container-fluid">

      <div class="row">
        <div class="col-xs-10">
          <h2>{{ 'description' | translate }}</h2>
          <p class="preserve-line-breaks">{{ study.description | lang }}</p>
        </div>
        <div class="col-xs-2">
          <button routerLink="/editor/studies/{{ study.id }}/edit-administrative-information"
                  class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-pencil"></span>
            {{ 'edit' | translate }}
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'registryOrganization' | translate }}</h2>
          <p *ngIf="study.ownerOrganization">
            {{ study.ownerOrganization.prefLabel | lang }}
            <span *ngIf="study.ownerOrganization.abbreviation | lang">
              ({{ study.ownerOrganization.abbreviation | lang }})
            </span>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'registryOrganizationUnit' | translate }}</h2>
          <p *ngFor="let ownerOrganizationUnit of study.ownerOrganizationUnit">
            {{ ownerOrganizationUnit.prefLabel | lang }}
            <span *ngIf="ownerOrganizationUnit.abbreviation | lang">
              ({{ ownerOrganizationUnit.abbreviation | lang }})
            </span>
          </p>
        </div>
      </div>

      <div class="row" *ngIf="study.ownerOrganization && study.ownerOrganization.addressForRegistryPolicy">
        <div class="col-xs-12">
          <h2>{{ 'addressForRegistryPolicy' | translate }}</h2>
          <p class="preserve-line-breaks">
            {{ study.ownerOrganization.addressForRegistryPolicy | lang }}
          </p>
        </div>
      </div>

      <div class="row" *ngIf="study.ownerOrganization && study.ownerOrganization.phoneNumberForRegistryPolicy">
        <div class="col-xs-12">
          <h2>{{ 'phoneNumberForRegistryPolicy' | translate }}</h2>
          <p>
            {{ study.ownerOrganization.phoneNumberForRegistryPolicy }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'personInRoles.label' | translate }}</h2>
          <table *ngIf="study.personInRoles.length; else noStudyPersonInRoles;"
                 class="table table-striped table-hover">
            <tr>
              <th translate="personInRoles.person"></th>
              <th translate="personInRoles.role"></th>
              <th translate="personInRoles.public.title"></th>
            </tr>
            <tr *ngFor="let personInRole of study.personInRoles">
              <td>
                {{ personInRole.person.firstName }}
                {{ personInRole.person.lastName }}
                <ng-container *ngIf="personInRole.person.email">
                  <br>
                  {{ personInRole.person.email }}
                </ng-container>
                <ng-container *ngIf="personInRole.person.phone">
                  <br>
                  {{ personInRole.person.phone }}
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="personInRole.role; else noRole;">
                  {{ personInRole.role.prefLabel | lang }}
                </ng-container>
                <ng-template #noRole>
                  {{ 'noRole' | translate }}
                </ng-template>
              </td>
              <td>
                {{ 'personInRoles.public.' + personInRole.public | translate }}
              </td>
            </tr>
          </table>
          <ng-template #noStudyPersonInRoles>
            <p translate="noStudyPersonInRoles"></p>
          </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'registryPolicy' | translate }}</h2>
          <p class="preserve-line-breaks">{{ study.registryPolicy | lang }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'isStudyPersonRegistry' | translate }}</h2>
          <p>{{(!study.personRegistry ? 'noPersonRegistry' : ''+study.personRegistry) |translate}}</p>
        </div>
      </div>

      <div class="row" *ngIf="study.personRegistry && study.personRegistry === 'true'">
        <div class="col-xs-12">
          <h2>{{ 'purposeOfPersonRegistry' | translate }}</h2>
          <p class="preserve-line-breaks">{{ study.purposeOfPersonRegistry | lang }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ng-container *ngIf="study.population">

            <h2>{{ 'population' | translate }}</h2>
            <p>{{ study.population.prefLabel | lang }}</p>

          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'referencePeriod' | translate }}</h2>
          <p *ngIf="study.referencePeriodStart || study.referencePeriodEnd; else noReferencePeriod;">
            <ng-container *ngIf="study.referencePeriodStart">
              {{ study.referencePeriodStart | date:'dd.MM.yyyy' }}
            </ng-container>
            —
            <ng-container *ngIf="study.referencePeriodEnd">
              {{ study.referencePeriodEnd | date:'dd.MM.yyyy' }}
            </ng-container>
          </p>
          <ng-template #noReferencePeriod>
            <p>{{ 'noReferencePeriod' | translate }}</p>
          </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-10">
          <button routerLink="/editor/studies/{{ study.id }}/edit-administrative-information"
                  class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-pencil"></span>
            {{ 'edit' | translate }}
          </button>
        </div>
      </div>

    </div>
  </div>

</ng-container>

<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>
