<ng-container *ngIf="study; else loadingStudy;">

  <study-sidebar [study]="study"
                 [activeSection]="sidebarActiveSection">
  </study-sidebar>

  <div class="content-container">

    <div class="content-header container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ study.prefLabel | lang }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <last-modified [modifier]="study.lastModifiedByUser"
                         [lastModifiedDate]="study.lastModifiedDate">
          </last-modified>
        </div>
      </div>
    </div>

    <div class="content-body container-fluid">

      <form #studyForm="ngForm">

        <div class="row">
          <div class="col-xs-12">
            <h2>{{ 'dataProtection' | translate }}</h2>
          </div>
        </div>

        <study-administrative-read-only-fields [study]="study"></study-administrative-read-only-fields>

        <div class="form-group">
          <p><strong class="field-label">{{ 'isStudyPersonRegistry' | translate }}</strong></p>
          <div class="radio">
            <label for="person-registry-true">
              <input [(ngModel)]="study.personRegistry"
                     [value]="true"
                     type="radio"
                     id="person-registry-true"
                     name="person-registry">
              {{ 'true' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="person-registry-false">
              <input [(ngModel)]="study.personRegistry"
                     [value]="false"
                     type="radio"
                     id="person-registry-false"
                     name="person-registry">
              {{ 'false' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="person-registry-empty"
                   class="radio-empty">
              <input [(ngModel)]="study.personRegistry"
                     [value]="undefined"
                     type="radio"
                     id="person-registry-empty"
                     name="person-registry">
              {{ 'noPersonRegistry' | translate }}
            </label>
          </div>
        </div>

        <ng-container *ngIf="study.personRegistry">

          <div class="form-group">
            <label for="registryPolicy" translate="registryPolicy"></label>
            <textarea [(ngModel)]="study.registryPolicy[language]"
                      thlAutogrow
                      id="registryPolicy"
                      name="registryPolicy"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="purposeOfPersonRegistry" translate="purposeOfPersonRegistry"></label>
            <textarea [(ngModel)]="study.purposeOfPersonRegistry[language]"
                      thlAutogrow
                      id="purposeOfPersonRegistry"
                      name="purposeOfPersonRegistry"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="personRegistrySources" translate="personRegistrySources"></label>
            <textarea [(ngModel)]="study.personRegistrySources[language]"
                      thlAutogrow
                      id="personRegistrySources"
                      name="personRegistrySources"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="personRegisterDataTransfers" translate="personRegisterDataTransfers"></label>
            <textarea [(ngModel)]="study.personRegisterDataTransfers[language]"
                      thlAutogrow
                      id="personRegisterDataTransfers"
                      name="personRegisterDataTransfers"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="personRegisterDataTransfersOutsideEuOrEea" translate="personRegisterDataTransfersOutsideEuOrEea"></label>
            <textarea [(ngModel)]="study.personRegisterDataTransfersOutsideEuOrEea[language]"
                      thlAutogrow
                      id="personRegisterDataTransfersOutsideEuOrEea"
                      name="personRegisterDataTransfersOutsideEuOrEea"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

        </ng-container>

        <div class="row">
          <div class="col-xs-12">
            <h2>{{ 'dataSecurity' | translate }}</h2>
          </div>
        </div>

        <div class="form-group">
          <p><strong class="field-label">{{ 'confidentialityClass.label' | translate }}</strong></p>
          <div class="radio">
            <label for="confidentiality-class-public">
              <input [(ngModel)]="study.confidentialityClass"
                     value="PUBLIC"
                     type="radio"
                     id="confidentiality-class-public"
                     name="confidentiality-class">
              {{ 'confidentialityClass.PUBLIC' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="confidentiality-class-partly-confidential">
              <input [(ngModel)]="study.confidentialityClass"
                     value="PARTLY_CONFIDENTIAL"
                     type="radio"
                     id="confidentiality-class-partly-confidential"
                     name="confidentiality-class">
              {{ 'confidentialityClass.PARTLY_CONFIDENTIAL' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="confidentiality-class-confidential">
              <input [(ngModel)]="study.confidentialityClass"
                     value="CONFIDENTIAL"
                     type="radio"
                     id="confidentiality-class-confidential"
                     name="confidentiality-class">
              {{ 'confidentialityClass.CONFIDENTIAL' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="confidentiality-class-empty"
                   class="radio-empty">
              <input [(ngModel)]="study.confidentialityClass"
                     [value]="undefined"
                     type="radio"
                     id="confidentiality-class-empty"
                     name="confidentiality-class">
              {{ 'confidentialityClass.empty' | translate }}
            </label>
          </div>
        </div>

        <ng-container *ngIf="study.confidentialityClass === confidentialityClassType.PARTLY_CONFIDENTIAL || study.confidentialityClass === confidentialityClassType.CONFIDENTIAL">

          <div class="form-group">
            <label for="groundsForConfidentiality" translate="groundsForConfidentiality"></label>
            <textarea [(ngModel)]="study.groundsForConfidentiality[language]"
                      thlAutogrow
                      id="groundsForConfidentiality"
                      name="groundsForConfidentiality"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <p><strong class="field-label">{{ 'securityClassification.label' | translate }}</strong></p>
            <div class="radio">
              <label for="security-classification-I">
                <input [(ngModel)]="study.securityClassification"
                       value="I"
                       type="radio"
                       id="security-classification-I"
                       name="security-classification">
                {{ 'securityClassification.I' | translate }}
              </label>
            </div>
            <div class="radio">
              <label for="security-classification-II">
                <input [(ngModel)]="study.securityClassification"
                       value="II"
                       type="radio"
                       id="security-classification-II"
                       name="security-classification">
                {{ 'securityClassification.II' | translate }}
              </label>
            </div>
            <div class="radio">
              <label for="security-classification-III">
                <input [(ngModel)]="study.securityClassification"
                       value="III"
                       type="radio"
                       id="security-classification-III"
                       name="security-classification">
                {{ 'securityClassification.III' | translate }}
              </label>
            </div>
            <div class="radio">
              <label for="security-classification-IV">
                <input [(ngModel)]="study.securityClassification"
                       value="IV"
                       type="radio"
                       id="security-classification-IV"
                       name="security-classification">
                {{ 'securityClassification.IV' | translate }}
              </label>
            </div>
            <div class="radio">
              <label for="security-classification-empty"
                     class="radio-empty">
                <input [(ngModel)]="study.securityClassification"
                       [value]="undefined"
                       type="radio"
                       id="security-classification-empty"
                       name="security-classification">
                {{ 'securityClassification.empty' | translate }}
              </label>
            </div>
          </div>

        </ng-container>

        <div class="form-group">
          <label for="principlesForPhysicalSecurity" translate="principlesForPhysicalSecurity.label"></label>
          <br>
          <p-multiSelect [(ngModel)]="study.principlesForPhysicalSecurity"
                         [ngModelOptions]="{ standalone: true }"
                         [options]="principlesForPhysicalSecurityItems"
                         [filter]="false"
                         defaultLabel="{{ 'selectPrinciples' | translate }}"
                         selectedItemsLabel="{0} {{ 'amountPrinciplesSelected' | translate }}"
                         inputId="principlesForPhysicalSecurity">
          </p-multiSelect>
        </div>

        <div class="form-group">
          <label for="principlesForDigitalSecurity" translate="principlesForDigitalSecurity.label"></label>
          <br>
          <p-multiSelect [(ngModel)]="study.principlesForDigitalSecurity"
                         [ngModelOptions]="{ standalone: true }"
                         [options]="principlesForDigitalSecurityItems"
                         [filter]="false"
                         defaultLabel="{{ 'selectPrinciples' | translate }}"
                         selectedItemsLabel="{0} {{ 'amountPrinciplesSelected' | translate }}"
                         inputId="principlesForDigitalSecurity">
          </p-multiSelect>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h2>{{ 'archiving' | translate }}</h2>
          </div>
        </div>

        <div [ngClass]="{ 'bg-danger': (formErrors.dataProcessingStartDate && formErrors.dataProcessingStartDate.length) || (formErrors.dataProcessingEndDate && formErrors.dataProcessingEndDate.length) }"
             class="row">
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label for="dataProcessingStartDate">{{ 'dataProcessingStartDate' | translate }}</label>
              <br>
              <p-calendar [(ngModel)]="dataProcessingStartDate"
                          dateFormat="{{ 'pcalendar.dateFormat' | translate }}"
                          monthNavigator="true"
                          yearNavigator="true"
                          [yearRange]="yearRangeForDataProcessingFields"
                          showIcon="true"
                          [locale]="dateUtils.getLocaleSettings() | async"
                          placeholder="{{ 'date.placeholder' | translate }}"
                          inputId="dataProcessingStartDate"
                          name="dataProcessingStartDate">
              </p-calendar>
              <p *ngFor="let errorKey of formErrors.dataProcessingStartDate"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label for="dataProcessingEndDate">{{ 'dataProcessingEndDate' | translate }}</label>
              <br>
              <p-calendar [(ngModel)]="dataProcessingEndDate"
                          dateFormat="{{ 'pcalendar.dateFormat' | translate }}"
                          monthNavigator="true"
                          yearNavigator="true"
                          [yearRange]="yearRangeForDataProcessingFields"
                          showIcon="true"
                          [locale]="dateUtils.getLocaleSettings() | async"
                          placeholder="{{ 'date.placeholder' | translate }}"
                          inputId="dataProcessingEndDate"
                          name="dataProcessingEndDate">
              </p-calendar>
              <p *ngFor="let errorKey of formErrors.dataProcessingEndDate"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <p><strong class="field-label">{{ 'retentionPolicy.label' | translate }}</strong></p>
              <p-dropdown 
                [(ngModel)]="study.retentionPolicy"
                [options]="retentionPolicies"
                name="retention-policy">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="retentionPeriod" translate="retentionPeriod"></label>
              <textarea [(ngModel)]="study.retentionPeriod[language]"
                        thlAutogrow
                        id="retentionPeriod"
                        name="retentionPeriod"
                        class="form-control"
                        rows="4">
              </textarea>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <label for="groundsForRetention" translate="groundsForRetention"></label>
              <textarea [(ngModel)]="study.groundsForRetention[language]"
                        thlAutogrow
                        id="groundsForRetention"
                        name="groundsForRetention"
                        class="form-control"
                        rows="4">
              </textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="nationalArchivesFinlandArchivalDecision" translate="nationalArchivesFinlandArchivalDecision"></label>
              <input [(ngModel)]="study.nationalArchivesFinlandArchivalDecision[language]"
                        id="nationalArchivesFinlandArchivalDecision"
                        name="nationalArchivesFinlandArchivalDecision"
                        class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <p><strong class="field-label">{{ 'existenceForm.label' | translate }}</strong></p>
              <p-multiSelect [(ngModel)]="study.existenceForms"
                        [ngModelOptions]="{ standalone: true }"
                        [options]="existenceForms"
                        [filter]="false"
                        defaultLabel="{{ 'selectExistenceForms' | translate }}"
                        selectedItemsLabel="{0} {{ 'amountExistenceFormsSelected' | translate }}"
                        inputId="existenceForms">
              </p-multiSelect>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="physicalLocation" translate="physicalLocation"></label>
                <textarea [(ngModel)]="study.physicalLocation[language]"
                          thlAutogrow
                          id="physicalLocation"
                          name="physicalLocation"
                          class="form-control"
                          rows="4">
                </textarea>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="systemInRoles">{{ 'systemInRoles.label' | translate }}</label>
                <table *ngIf="study.systemInRoles.length; else noSystemsInRoles;"
                      id="systemsInRole"
                      class="table table-striped">
                  <tr>
                    <th>
                      {{ 'systemInRoles.system' | translate }}
                      <thl-requiredFieldIndicator></thl-requiredFieldIndicator>
                    </th>
                    <th translate="systemInRoles.role"></th>
                    <th translate="functions"></th>
                  </tr>
                  <tr *ngFor="let systemInRole of study.systemInRoles; let index = index;"
                      [ngClass]="{ 'bg-danger': formErrors['systemInRole-system-' + index] && formErrors['systemInRole-system-' + index].length }">
                    <td>
                      <p-dropdown *ngIf="allSystemItems && allSystemItems.length"
                                  [(ngModel)]="systemInRole.system"
                                  [options]="allSystemItems"
                                  filter="true"
                                  autoWidth="false"
                                  [style]="{ 'max-width': '400px' }"
                                  name="{{ 'systemInRole-system-' + index }}"
                                  required
                                  [dataKey]="id"
                                  validateSystemConsistency
                                  [study]="study">
                      </p-dropdown>
                      <button (click)="showAddSystemModal(systemInRole)"
                              type="button"
                              class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {{ 'systemInRoles.addNew' | translate }}
                      </button>
                      <p *ngFor="let errorKey of formErrors['systemInRole-system-' + index]"
                        class="text-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ errorKey | translate }}
                      </p>
                      <system-edit-modal *ngIf="newSystem"
                                        [system]="newSystem"
                                        (onSave)="saveSystem($event)"
                                        (onCancel)="closeAddSystemModal()">
                      </system-edit-modal>
                    </td>
                    <td>
                      <select *ngIf="allSystemRoles && allSystemRoles.length"
                              [(ngModel)]="systemInRole.role"
                              [compareWith]="nodeUtils.equals"
                              dataKey="id"
                              name="{{ 'systemInRole-role-' + index }}"
                              class="form-control">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let role of allSystemRoles"
                                [ngValue]="role">
                          {{ role.prefLabel | lang }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" (click)="removeSystemInRole(systemInRole)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        {{ 'remove' | translate }}
                      </button>
                    </td>
                  </tr>
                </table>
                <ng-template #noSystemsInRoles>
                  <p translate="systemInRoles.noSystemsInRoles"></p>
                </ng-template>
                <button type="button" class="btn btn-default" (click)="addSystemInRole()">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  {{ 'systemInRoles.add' | translate }}
                </button>
              </div>
            </div>
          </div>

      </form>

    </div>

    <div class="edit-controls-padding"></div>

  </div>

  <div class="edit-controls-fixed">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <button (click)="save()"
                  [disabled]="savingInProgress"
                  class="btn btn-primary"
                  type="button">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            {{ 'save' | translate }}
          </button>
          <button (click)="goBack()"
                  [disabled]="savingInProgress"
                  class="btn btn-default"
                  type="button">
            {{ 'cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>
