<div class="row">
  <div class="col-xs-12">
    <p><strong class="field-label">{{ 'principlesForPhysicalSecurity.label' | translate }}</strong></p>
    <ul *ngIf="study.principlesForPhysicalSecurity.length">
      <ng-container *ngFor="let principle of study.principlesForPhysicalSecurity">
        <li *ngIf="!(principle == 'OTHER')">
          {{ 'principlesForPhysicalSecurity.' + principle | translate }}
        </li>
      </ng-container>
      <li *ngFor="let otherPrinciple of study.otherPrinciplesForPhysicalSecurity">
        {{ otherPrinciple.prefLabel | lang }}
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p><strong class="field-label">{{ 'principlesForDigitalSecurity.label' | translate }}</strong></p>
    <ul *ngIf="study.principlesForDigitalSecurity.length">
      <ng-container *ngFor="let principle of study.principlesForDigitalSecurity">
        <li *ngIf="!(principle == 'OTHER')">
          {{ 'principlesForDigitalSecurity.' + principle | translate }}
        </li>
      </ng-container>
      <li *ngFor="let otherPrinciple of study.otherPrinciplesForDigitalSecurity">
        {{ otherPrinciple.prefLabel | lang }}
      </li>
    </ul>
  </div>
</div>
