<ng-container *ngIf="study; else loadingStudy;">

  <study-sidebar [study]="study"
                 [activeSection]="sidebarActiveSection">
  </study-sidebar>

  <div class="content-container">

    <div class="content-header container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ study.prefLabel | lang }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <last-modified [modifier]="study.lastModifiedByUser"
                         [lastModifiedDate]="study.lastModifiedDate">
          </last-modified>
        </div>
      </div>
    </div>

    <div class="content-body container-fluid">

      <form #studyForm="ngForm">

        <div class="row">
          <div class="col-xs-12">
            <h2>{{ 'dataProtection' | translate }}</h2>
          </div>
        </div>

        <study-administrative-read-only-fields [study]="study"></study-administrative-read-only-fields>

        <div class="form-group">
          <p><strong class="field-label">{{ 'isStudyPersonRegistry' | translate }}</strong></p>
          <div class="radio">
            <label for="person-registry-true">
              <input [(ngModel)]="study.personRegistry"
                     [value]="true"
                     type="radio"
                     id="person-registry-true"
                     name="person-registry">
              {{ 'true' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="person-registry-false">
              <input [(ngModel)]="study.personRegistry"
                     [value]="false"
                     type="radio"
                     id="person-registry-false"
                     name="person-registry">
              {{ 'false' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="person-registry-empty"
                   class="radio-empty">
              <input [(ngModel)]="study.personRegistry"
                     [value]="undefined"
                     type="radio"
                     id="person-registry-empty"
                     name="person-registry">
              {{ 'noPersonRegistry' | translate }}
            </label>
          </div>
        </div>

        <ng-container *ngIf="study.personRegistry">

          <div class="form-group">
            <label for="registryPolicy" translate="registryPolicy"></label>
            <textarea [(ngModel)]="study.registryPolicy[language]"
                      thlAutogrow
                      id="registryPolicy"
                      name="registryPolicy"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="purposeOfPersonRegistry" translate="purposeOfPersonRegistry"></label>
            <textarea [(ngModel)]="study.purposeOfPersonRegistry[language]"
                      thlAutogrow
                      id="purposeOfPersonRegistry"
                      name="purposeOfPersonRegistry"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="personRegistrySources" translate="personRegistrySources"></label>
            <textarea [(ngModel)]="study.personRegistrySources[language]"
                      thlAutogrow
                      id="personRegistrySources"
                      name="personRegistrySources"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="personRegisterDataTransfers" translate="personRegisterDataTransfers"></label>
            <textarea [(ngModel)]="study.personRegisterDataTransfers[language]"
                      thlAutogrow
                      id="personRegisterDataTransfers"
                      name="personRegisterDataTransfers"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

          <div class="form-group">
            <label for="personRegisterDataTransfersOutsideEuOrEea" translate="personRegisterDataTransfersOutsideEuOrEea"></label>
            <textarea [(ngModel)]="study.personRegisterDataTransfersOutsideEuOrEea[language]"
                      thlAutogrow
                      id="personRegisterDataTransfersOutsideEuOrEea"
                      name="personRegisterDataTransfersOutsideEuOrEea"
                      class="form-control"
                      rows="4">
            </textarea>
          </div>

        </ng-container>

        <div class="row">
          <div class="col-xs-12">
            <h2>{{ 'dataSecurity' | translate }}</h2>
          </div>
        </div>

        <div class="form-group">
          <p><strong class="field-label">{{ 'confidentialityClass.label' | translate }}</strong></p>
          <div class="radio">
            <label for="confidentiality-class-public">
              <input [(ngModel)]="study.confidentialityClass"
                     value="PUBLIC"
                     type="radio"
                     id="confidentiality-class-public"
                     name="confidentiality-class">
              {{ 'confidentialityClass.PUBLIC' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="confidentiality-class-partly-confidential">
              <input [(ngModel)]="study.confidentialityClass"
                     value="PARTLY_CONFIDENTIAL"
                     type="radio"
                     id="confidentiality-class-partly-confidential"
                     name="confidentiality-class">
              {{ 'confidentialityClass.PARTLY_CONFIDENTIAL' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="confidentiality-class-confidential">
              <input [(ngModel)]="study.confidentialityClass"
                     value="CONFIDENTIAL"
                     type="radio"
                     id="confidentiality-class-confidential"
                     name="confidentiality-class">
              {{ 'confidentialityClass.CONFIDENTIAL' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="confidentiality-class-empty"
                   class="radio-empty">
              <input [(ngModel)]="study.confidentialityClass"
                     [value]="undefined"
                     type="radio"
                     id="confidentiality-class-empty"
                     name="confidentiality-class">
              {{ 'confidentialityClass.empty' | translate }}
            </label>
          </div>
        </div>

        <div *ngIf="study.confidentialityClass === confidentialityClassType.PARTLY_CONFIDENTIAL || study.confidentialityClass === confidentialityClassType.CONFIDENTIAL"
             class="form-group">
          <label for="groundsForConfidentiality" translate="groundsForConfidentiality"></label>
          <textarea [(ngModel)]="study.groundsForConfidentiality[language]"
                    thlAutogrow
                    id="groundsForConfidentiality"
                    name="groundsForConfidentiality"
                    class="form-control"
                    rows="4">
          </textarea>
        </div>

      </form>

    </div>

    <div class="edit-controls-padding"></div>

  </div>

  <div class="edit-controls-fixed">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <button (click)="save()"
                  [disabled]="savingInProgress"
                  class="btn btn-primary"
                  type="button">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            {{ 'save' | translate }}
          </button>
          <button (click)="goBack()"
                  [disabled]="savingInProgress"
                  class="btn btn-default"
                  type="button">
            {{ 'cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>
