<ng-container *ngIf="study; else loadingStudy;">

  <study-sidebar [study]="study"
                   [activeSection]="sidebarActiveSection">
  </study-sidebar>

  <div class="content-container">

    <div class="content-header container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ study.prefLabel | lang }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <last-modified [modifier]="study.lastModifiedByUser"
                     [lastModifiedDate]="study.lastModifiedDate">
          </last-modified>
        </div>
      </div>
    </div>

    <div class="content-body container-fluid">

      <div class="row">
        <div class="col-xs-10">
          <h2>{{ 'dataProtection' | translate }}</h2>
        </div>
        <div class="col-xs-2">
          <div class="pull-right">
            <button routerLink="/editor/studies/{{ study.id }}/edit-administrative-information"
                    class="btn btn-default pull-right">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              {{ 'edit' | translate }}
            </button>
          </div>
        </div>
      </div>

      <study-administrative-read-only-fields [study]="study"></study-administrative-read-only-fields>

      <div class="row">
        <div class="col-xs-12">
          <p><strong class="field-label">{{ 'isStudyPersonRegistry' | translate }}</strong></p>
          <p>{{ (study.personRegistry === undefined ? 'noPersonRegistry' : '' + study.personRegistry) | translate }}</p>
        </div>
      </div>

      <ng-container *ngIf="study.personRegistry">

        <div class="row">
          <div class="col-xs-12">
            <p><strong class="field-label">{{ 'registryPolicy' | translate }}</strong></p>
            <p class="preserve-line-breaks">{{ study.registryPolicy | lang }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p><strong class="field-label">{{ 'purposeOfPersonRegistry' | translate }}</strong></p>
            <p class="preserve-line-breaks">{{ study.purposeOfPersonRegistry | lang }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p><strong class="field-label">{{ 'personRegistrySources' | translate }}</strong></p>
            <p class="preserve-line-breaks">{{ study.personRegistrySources | lang }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p><strong class="field-label">{{ 'personRegisterDataTransfers' | translate }}</strong></p>
            <p class="preserve-line-breaks">{{ study.personRegisterDataTransfers | lang }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p><strong class="field-label">{{ 'personRegisterDataTransfersOutsideEuOrEea' | translate }}</strong></p>
            <p class="preserve-line-breaks">{{ study.personRegisterDataTransfersOutsideEuOrEea | lang }}</p>
          </div>
        </div>

      </ng-container>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'dataSecurity' | translate }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p><strong class="field-label">{{ 'confidentialityClass.label' | translate }}</strong></p>
          <p>
            <ng-container *ngIf="study.confidentialityClass; else noConfidentialityClass;">
              {{ 'confidentialityClass.' + study.confidentialityClass | translate }}
            </ng-container>
            <ng-template #noConfidentialityClass>
              {{ 'confidentialityClass.empty' | translate }}
            </ng-template>
          </p>
        </div>
      </div>

      <div class="row" style="display: none;">
        <div class="col-xs-12">
          <h2>{{ 'archiving' | translate }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button routerLink="/editor/studies/{{ study.id }}/edit-administrative-information"
                    class="btn btn-default pull-right">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              {{ 'edit' | translate }}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

</ng-container>

<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>
