<ng-container *ngIf="study;else loadingStudy">

  <study-sidebar [study]="study"
                 [activeSection]="sidebarActiveSection">
  </study-sidebar>

  <div class="content-container">
    <div class="content-header container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>
            <ng-container *ngIf="study.id; else newStudyHeader;">
              {{ 'study.study' | translate }}:
              {{ study.prefLabel | lang }}
            </ng-container>
            <ng-template #newStudyHeader>
              {{ 'study.new' | translate }}
            </ng-template>
          </h1>
        </div>
      </div>
    </div>

    <div class="content-body container-fluid">

      <form #studyForm="ngForm">

        <div [ngClass]="{ 'bg-danger': formErrors.prefLabel && formErrors.prefLabel.length }"
             class="row">
          <div class="col-xs-12">
            <div [ngClass]="{ 'has-error': formErrors.prefLabel && formErrors.prefLabel.length }"
                 class="form-group">
              <label for="prefLabel">
                {{ 'prefLabel' | translate }}
                <thl-requiredFieldIndicator></thl-requiredFieldIndicator>
                <editor-help-link [helpTextComponent]="prefLabelHelpText"></editor-help-link>
              </label>
              <input [(ngModel)]="study.prefLabel[language]"
                     id="prefLabel"
                     name="prefLabel"
                     type="text"
                     class="form-control"
                     required>
              <p *ngFor="let errorKey of formErrors.prefLabel"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
              <editor-help-text #prefLabelHelpText key="editor.study.prefLabel.helpText"></editor-help-text>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="altLabel">
            {{ 'altLabel' | translate }}
            <editor-help-link [helpTextComponent]="altLabelHelpText"></editor-help-link>
          </label>
          <input [(ngModel)]="study.altLabel[language]"
                 id="altLabel"
                 name="altLabel"
                 class="form-control"
                 type="text">
          <editor-help-text #altLabelHelpText key="editor.study.altLabel.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="abbreviation">
            {{ 'abbreviation' | translate }}
            <editor-help-link [helpTextComponent]="abbreviationHelpText"></editor-help-link>
          </label>
          <input [(ngModel)]="study.abbreviation[language]"
                 id="abbreviation"
                 name="abbreviation"
                 class="form-control"
                 type="text">
          <editor-help-text #abbreviationHelpText key="editor.study.abbreviation.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="description">
            {{ 'description' | translate }}
            <editor-help-link [helpTextComponent]="descriptionHelpText"></editor-help-link>
          </label>
          <textarea [(ngModel)]="study.description[language]"
                    thlAutogrow
                    id="description"
                    name="description"
                    class="form-control"
                    rows="5">
          </textarea>
          <editor-help-text #descriptionHelpText key="editor.study.description.helpText"></editor-help-text>
        </div>

        <div *ngIf="availableOrganizations"
             [ngClass]="{ 'bg-danger': formErrors.ownerOrganization && formErrors.ownerOrganization.length }"
             class="row">
          <div class="col-xs-12">
            <div [ngClass]="{ 'has-error': formErrors.ownerOrganization && formErrors.ownerOrganization.length }"
                 class="form-group">
              <label for="ownerOrganization">
                {{ 'organization' | translate }}
                <thl-requiredFieldIndicator *ngIf="!isUserAdmin"></thl-requiredFieldIndicator>
                <editor-help-link [helpTextComponent]="ownerOrganizationHelpText"></editor-help-link>
              </label>
              <organization-dropdown [(ngModel)]="study.ownerOrganization"
                                     (onChange)="onOrganizationChange()"
                                     [required]="!isUserAdmin"
                                     [study]="study"
                                     selectId="ownerOrganization"
                                     name="ownerOrganization"
                                     validateOrganizationConsistency>
              </organization-dropdown>
              <p *ngFor="let errorKey of formErrors.ownerOrganization"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
              <editor-help-text #ownerOrganizationHelpText key="editor.study.ownerOrganization.helpText"></editor-help-text>
              <button *ngIf="isUserAdmin || isUserOrganizationAdmin"
                      (click)="showEditOrganizationModal(study.ownerOrganization)"
                      type="button"
                      class="btn btn-default btn-sm">
                <glyphicon icon="pencil"></glyphicon>
                {{ 'editOrganization' | translate }}
              </button>
              <organization-edit-modal *ngIf="editedOrganization"
                                            [organization]="editedOrganization"
                                            (onSave)="updateOrganization($event)"
                                            (onCancel)="closeEditOrganizationModal()">
              </organization-edit-modal>
            </div>
          </div>
        </div>

        <div *ngIf="availableOrganizations"
             class="form-group">
          <label for="ownerOrganizationUnit">
            {{ 'organizationUnit' | translate }}
            <editor-help-link [helpTextComponent]="ownerOrganizationUnitHelpText"></editor-help-link>
          </label>
          <select [(ngModel)]="study.ownerOrganizationUnit"
                  [compareWith]="nodeUtils.equals"
                  id="ownerOrganizationUnit"
                  name="ownerOrganizationUnit"
                  class="form-control">
            <option [ngValue]="null"></option>
            <ng-container *ngIf="study.ownerOrganization">
              <option *ngFor="let organizationUnit of organizationUnitsOfOrganization[study.ownerOrganization.id]"
                      [ngValue]="organizationUnit">
                {{ organizationUnit.prefLabel | lang }}
                <span *ngIf="organizationUnit.abbreviation | lang">
                  ({{ organizationUnit.abbreviation | lang }})
                </span>
              </option>
            </ng-container>
          </select>
          <editor-help-text #ownerOrganizationUnitHelpText key="editor.study.ownerOrganizationUnit.helpText"></editor-help-text>
          <button (click)="showEditOrganizationUnitModal(null)"
                  type="button"
                  class="btn btn-default btn-sm"
                  [disabled]="study.ownerOrganization == null">
            <glyphicon icon="plus"></glyphicon>
            {{ 'addNewOrganizationUnit' | translate }}
          </button>
          <button *ngIf="study.ownerOrganizationUnit && (isUserAdmin || isUserOrganizationAdmin)"
                  (click)="showEditOrganizationUnitModal(study.ownerOrganizationUnit)"
                  type="button"
                  class="btn btn-default btn-sm"
                  [disabled]="study.ownerOrganization == null">
            <glyphicon icon="pencil"></glyphicon>
            {{ 'editOrganizationUnit' | translate }}
          </button>
          <organization-unit-edit-modal *ngIf="editOrganizationUnit"
                                        [parentOrganization]="study.ownerOrganization"
                                        [organizationUnit]="editOrganizationUnit"
                                        (onSave)="saveOrganizationUnit($event)"
                                        (onCancel)="closeEditOrganizationUnitModal()">
          </organization-unit-edit-modal>
        </div>

        <div class="form-group">
          <label for="personInRoles">
            {{ 'study.personInRolesLabel' | translate }}
            <editor-help-link [helpTextComponent]="personInRolesHelpText"></editor-help-link>
          </label>
          <table *ngIf="study.personInRoles.length; else noStudyPersonInRoles;"
                 id="personsInRole"
                 class="table table-striped">
            <tr>
              <th>
                {{ 'personInRoles.person' | translate }}
                <thl-requiredFieldIndicator></thl-requiredFieldIndicator>
              </th>
              <th translate="personInRoles.role"></th>
              <th translate="personInRoles.public.title"></th>
              <th translate="functions"></th>
            </tr>
            <tr *ngFor="let personInRole of study.personInRoles; let index = index;"
                [ngClass]="personInRole.howManyPersons == undefined ? {'bg-danger': formErrors['personInRole-person-' + index]} : {'bg-danger': formErrors['personInRole-person-' + (personInRole.howManyPersons)]}">

              <td>
                <p-dropdown *ngIf="allPersonItems && allPersonItems.length"
                            [(ngModel)]="personInRole.person"
                            [options]="allPersonItems"
                            filter="true"
                            autoWidth="false"
                            [style]="{ 'max-width': '400px' }"
                            [name]="personInRole.howManyPersons == undefined ? 'personInRole-person-' + index : 'personInRole-person-' + (personInRole.howManyPersons)"
                            required>
                  <ng-template let-personItem pTemplate="item">
                    <ng-container *ngIf="personItem.value; else nullPersonItem;">
                      {{ personItem.value.firstName }}
                      <ng-container *ngIf="personItem.value.lastName">
                        {{ personItem.value.lastName }}
                      </ng-container>
                      <small *ngIf="personItem.value.email || personItem.value.phone" style="opacity:.7">
                        <br>
                        {{ personItem.value.email }}
                        {{ personItem.value.phone }}
                      </small>
                    </ng-container>
                    <ng-template #nullPersonItem>
                      <div style="opacity:.7; min-height: 2em;">
                          {{ personItem.label }}
                      </div>
                    </ng-template>
                  </ng-template>
                </p-dropdown>
                <tr>
                  <button (click)="showAddPersonModal(personInRole)"
                          type="button"
                          class="btn btn-default btn-sm">
                    <glyphicon icon="plus"></glyphicon>
                    {{ 'addNewPerson' | translate }}
                  </button>
                  <button *ngIf="isUserAdmin"
                          (click)="showEditPersonModal(personInRole)"
                          type="button"
                          class="btn btn-default btn-sm">
                    <glyphicon icon="pencil"></glyphicon>
                    {{ 'editPerson' | translate }}
                  </button>
                </tr>

                  <p *ngFor="let errorKey of formErrors[personInRole.howManyPersons == undefined ? 'personInRole-person-' + index : 'personInRole-person-' + (personInRole.howManyPersons)]"
                     class="text-danger"> 
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ errorKey | translate }}
                </p>
                <person-edit-modal *ngIf="newPerson"
                                   [person]="newPerson"
                                   [isNewPerson]=true
                                   (onSave)="savePerson($event)"
                                   (onCancel)="closeAddPersonModal()">
                </person-edit-modal>
                <person-edit-modal *ngIf="editedPerson"
                                   [person]="editedPerson"
                                   [isNewPerson]=false
                                   (onSave)="updatePerson($event)"
                                   (onCancel)="closeEditPersonModal()"
                                   (onDelete)="closeEditPersonModal()">
                </person-edit-modal>
              </td>
              <td>
                <select *ngIf="allRoles && allRoles.length"
                        [(ngModel)]="personInRole.role"
                        [compareWith]="nodeUtils.equals"
                        dataKey="id"
                        [name]="personInRole.howManyPersons == undefined ? 'personInRole-role-' + index : 'personInRole-role-' + (personInRole.howManyPersons)"
                        class="form-control">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let role of allRoles"
                          [ngValue]="role">
                    {{ role.prefLabel | lang }}
                  </option>
                </select>
              </td>
              <td>
                <div class="checkbox">
                  <label>
                    <input [checked]="personInRole.public"
                           (change)="personInRole.public = !personInRole.public"
                           name="{{ 'personInRole.public.' + index }}"
                           type="checkbox">
                    {{ 'personInRoles.public.checkbox' | translate }}
                  </label>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-default" (click)="removePersonInRole(personInRole)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  {{ 'remove' | translate }}
                </button>
              </td>
            </tr>
          </table>
          <ng-template #noStudyPersonInRoles>
            <p translate="study.noPersonInRoles"></p>
          </ng-template>
          <button type="button" class="btn btn-default" (click)="addPersonInRole()">
            <glyphicon icon="plus"></glyphicon>
            {{ 'addNewPersonInRole' | translate }}
          </button>
          <editor-help-text #personInRolesHelpText key="editor.study.personInRoles.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="partiesAndSharingOfResponsibilityInCollaborativeStudy">
            {{ 'partiesAndSharingOfResponsibilityInCollaborativeStudy' | translate }}
            <editor-help-link [helpTextComponent]="partiesAndSharingOfResponsibilityInCollaborativeStudyHelpText"></editor-help-link>
          </label>
          <textarea [(ngModel)]="study.partiesAndSharingOfResponsibilityInCollaborativeStudy[language]"
                    thlAutogrow
                    id="partiesAndSharingOfResponsibilityInCollaborativeStudy"
                    name="partiesAndSharingOfResponsibilityInCollaborativeStudy"
                    class="form-control"
                    rows="3">
          </textarea>
          <editor-help-text #partiesAndSharingOfResponsibilityInCollaborativeStudyHelpText key="editor.study.partiesAndSharingOfResponsibilityInCollaborativeStudy.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label>
            {{ 'links' | translate }}
            <editor-help-link [helpTextComponent]="linksHelpText"></editor-help-link>
          </label>
          <table *ngIf="study.links && study.links.length; else noStudyLinks;"
                 class="table table-striped">
            <tr>
              <th translate="linkName"></th>
              <th translate="linkUrl"></th>
              <th translate="functions"></th>
            </tr>
            <tr *ngFor="let link of study.links; let linkNumber = index;"
                [ngClass]="{ 'bg-danger': formErrors['link-linkUrl-' + linkNumber] && formErrors['link-linkUrl-' + linkNumber].length }">
              <td>
                <input [(ngModel)]="link.prefLabel[language]"
                       id="link-prefLabel-{{ linkNumber }}"
                       name="link-prefLabel-{{ linkNumber }}"
                       type="text"
                       class="form-control">
              </td>
              <td>
                <input [(ngModel)]="link.linkUrl[language]"
                       (blur)="correctLinkUrlFormat(link)"
                       id="link-linkUrl-{{ linkNumber }}"
                       name="link-linkUrl-{{ linkNumber }}"
                       type="text"
                       class="form-control"
                       pattern="{{urlFieldValidatorPattern}}">
                <p *ngFor="let errorKey of formErrors['link-linkUrl-' + linkNumber]"
                   class="text-danger">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  <ng-container *ngIf="errorKey == 'errors.form.pattern'; else nonLinkPatternError">
                    {{ 'errors.form.invalidLinkUrlFormat' | translate }}
                  </ng-container>
                  <ng-template #nonLinkPatternError>
                    {{ errorKey | translate }}
                  </ng-template>
                </p>
              </td>
              <td>
                <button type="button" class="btn btn-default" (click)="removeLink(link)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  {{ 'remove' | translate }}
                </button>
              </td>
            </tr>
          </table>

          <ng-template #noStudyLinks>
            <p translate="study.noLinks"></p>
          </ng-template>

          <button type="button" class="btn btn-default" (click)="addLink()">
            <glyphicon icon="plus"></glyphicon>
            {{ 'addNewLink' | translate }}
          </button>

          <editor-help-text #linksHelpText key="editor.study.links.helpText"></editor-help-text>
        </div>

        <div *ngIf="allUsageConditions"
             class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="usageCondition">
                {{ 'usageCondition' | translate }}
                <editor-help-link [helpTextComponent]="usageConditionHelpText"></editor-help-link>
              </label>
              <select [(ngModel)]="study.usageCondition"
                      [compareWith]="nodeUtils.equals"
                      id="usageCondition"
                      name="usageCondition"
                      class="form-control">
                <option [ngValue]="null"></option>
                <option *ngFor="let usageCondition of allUsageConditions"
                        [ngValue]="usageCondition">
                  {{usageCondition.prefLabel|lang}}
                </option>
              </select>
              <editor-help-text #usageConditionHelpText key="editor.study.usageCondition.helpText"></editor-help-text>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="usageConditionAdditionalInformation">
            {{ 'usageConditionAdditionalInformation' | translate }}
            <editor-help-link [helpTextComponent]="usageConditionAdditionalInformationHelpText"></editor-help-link>
          </label>
          <textarea [(ngModel)]="study.usageConditionAdditionalInformation[language]"
                    thlAutogrow
                    id="usageConditionAdditionalInformation"
                    name="usageConditionAdditionalInformation"
                    class="form-control"
                    rows="2">
          </textarea>
          <editor-help-text #usageConditionAdditionalInformationHelpText key="editor.study.usageConditionAdditionalInformation.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <p>
            <strong class="field-label">{{ 'studyType.label' | translate }}</strong>
            <editor-help-link [helpTextComponent]="StudyTypeHelpText"></editor-help-link>
          </p>
          <editor-help-text #studyTypeHelpText key="editor.study.studyType.helpText"></editor-help-text>

          <div class="radio">
            <label for="study-type-cross-sectional">
              <input [(ngModel)]="study.studyType"
                     [value]="StudyType.CROSS_SECTIONAL_STUDY"
                     type="radio"
                     id="study-type-cross-sectional"
                     name="study-type">
              {{ 'studyType.CROSS_SECTIONAL_STUDY' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="study-type-longitudinal">
              <input [(ngModel)]="study.studyType"
                     [value]="StudyType.LONGITUDINAL_STUDY"
                     type="radio"
                     id="study-type-longitudinal"
                     name="study-type">
              {{ 'studyType.LONGITUDINAL_STUDY' | translate }}
            </label>
          </div>
          <div class="radio">
            <label for="study-type-undefined" class="radio-empty">
              <input [(ngModel)]="study.studyType"
                     [value]="undefined"
                     type="radio"
                     id="study-type-undefined"
                     name="study-type">
              {{ 'undefined' | translate }}
            </label>
          </div>
        </div>

        <ng-container *ngIf="allUnitTypes.length">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="unitType">
                  {{ 'unitType' | translate }}
                  <editor-help-link [helpTextComponent]="unitTypeHelpText"></editor-help-link>
                </label>
                <br>
                <div style="display:inline-block">
                  <select [(ngModel)]="study.unitType"
                          [compareWith]="nodeUtils.equals"
                          id="unitType"
                          name="unitType"
                          class="form-control">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let unitType of allUnitTypes"
                            [ngValue]="unitType">
                      {{ unitType.prefLabel | lang }}
                    </option>
                  </select>
                </div>
                <span style="padding-left:1em;padding-right:1em">|</span>
                <button
                  (click)="showAddUnitTypeModal()"
                  class="btn btn-default"
                  type="button">
                  <glyphicon icon="plus"></glyphicon>
                  {{ 'addUnitType' | translate }}
                </button>
                <editor-help-text #unitTypeHelpText key="editor.study.unitType.helpText"></editor-help-text>
              </div>
            </div>
          </div>
          <unit-type-edit-modal *ngIf="newUnitType"
                                [unitType]="newUnitType"
                                (onSave)="saveUnitType($event)"
                                (onCancel)="closeAddUnitTypeModal()">
          </unit-type-edit-modal>
        </ng-container>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="numberOfObservationUnits">
                {{ 'numberOfObservationUnits' | translate }}
                <editor-help-link [helpTextComponent]="numberOfObservationUnitsHelpText"></editor-help-link>
              </label>
              <input [(ngModel)]="study.numberOfObservationUnits"
                     id="numberOfObservationUnits"
                     name="numberOfObservationUnits"
                     class="form-control"
                     type="text">
              <editor-help-text #numberOfObservationUnitsHelpText key="editor.study.numberOfObservationUnits.helpText"></editor-help-text>
            </div>
          </div>
        </div>

        <ng-container *ngIf="allUniverseItems.length">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>
                  {{ 'universe' | translate }}
                  <editor-help-link [helpTextComponent]="universeHelpText"></editor-help-link>
                </label>
                <br>
                <p-dropdown [(ngModel)]="study.universe"
                            [ngModelOptions]="{ standalone: true }"
                            [options]="allUniverseItems"
                            filter="true">
                  <ng-template let-universeItem pTemplate="item">
                    <ng-container *ngIf="universeItem.value; else nullValueUniverseItem;">
                      <div>
                        {{ universeItem.value.prefLabel | lang }}
                        <ng-container *ngIf="universeItem.value.description | lang">
                          <br>
                          <small style="opacity:.7">
                            {{ universeItem.value.description | lang }}
                          </small>
                        </ng-container>
                      </div>
                    </ng-container>
                    <ng-template #nullValueUniverseItem>
                      {{ universeItem.label }}
                    </ng-template>
                  </ng-template>
                </p-dropdown>
                <span style="padding-left:1em;padding-right:1em">|</span>
                <button
                  (click)="showAddUniverseModal()"
                  class="btn btn-default btn-sm"
                  type="button">
                  <glyphicon icon="plus"></glyphicon>
                  {{ 'addUniverse' | translate }}
                </button>
                <editor-help-text #universeHelpText key="editor.study.universe.helpText"></editor-help-text>
              </div>
            </div>
          </div>
          <universe-edit-modal *ngIf="newUniverse"
                               [universe]="newUniverse"
                               (onSave)="saveUniverse($event)"
                               (onCancel)="closeAddUniverseModal()">
          </universe-edit-modal>
        </ng-container>

        <div class="form-group">
          <label for="population-prefLabel">
            {{ 'population' | translate }}
            <editor-help-link [helpTextComponent]="populationPrefLabelText"></editor-help-link>
          </label>
          <textarea [(ngModel)]="study.population.prefLabel[language]"
                    thlAutogrow
                    id="population-prefLabel"
                    name="population-prefLabel"
                    class="form-control"
                    rows="3">
          </textarea>
          <editor-help-text #populationPrefLabelText key="editor.study.population.prefLabel.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="population-geographicalCoverage">
            {{ 'geographicalCoverage' | translate }}
            <editor-help-link [helpTextComponent]="populationGeographicalCoverageHelpText"></editor-help-link>
          </label>
          <textarea [(ngModel)]="study.population.geographicalCoverage[language]"
                    thlAutogrow
                    id="population-geographicalCoverage"
                    name="population-geographicalCoverage"
                    class="form-control"
                    rows="2">
          </textarea>
          <editor-help-text #populationGeographicalCoverageHelpText key="editor.study.population.geographicalCoverage.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="population-sampleSize">
            {{ 'sampleSize' | translate }}
            <editor-help-link [helpTextComponent]="populationSampleSizeHelpText"></editor-help-link>
          </label>
          <input [(ngModel)]="study.population.sampleSize[language]"
                 id="population-sampleSize"
                 name="population-sampleSize"
                 type="text"
                 class="form-control">
          <editor-help-text #populationSampleSizeHelpText key="editor.study.population.sampleSize.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="population-loss">
            {{ 'loss' | translate }}
            <editor-help-link [helpTextComponent]="populationLossHelpText"></editor-help-link>
          </label>
          <input [(ngModel)]="study.population.loss[language]"
                 id="population-loss"
                 name="population-loss"
                 type="text"
                 class="form-control">
          <editor-help-text #populationLossHelpText key="editor.study.population.loss.helpText"></editor-help-text>
        </div>

        <div [ngClass]="{ 'bg-danger': (formErrors.referencePeriodStart && formErrors.referencePeriodStart.length) || (formErrors.referencePeriodEnd && formErrors.referencePeriodEnd.length) }"
             class="row">
          <div class="col-sm-6 col-md-5">
            <div class="form-group">
              <label for="referencePeriodStart">
                {{ 'referencePeriodStart' | translate }}
                <editor-help-link [helpTextComponent]="referencePeriodHelpText"></editor-help-link>
              </label>
              <br>
              <p-calendar [(ngModel)]="referencePeriodStart"
                          dateFormat="{{ 'pcalendar.dateFormat' | translate }}"
                          monthNavigator="true"
                          yearNavigator="true"
                          [yearRange]="yearRangeForReferencePeriodFields"
                          showIcon="true"
                          [locale]="dateUtils.getLocaleSettings() | async"
                          placeholder="{{ 'date.placeholder' | translate }}"
                          inputId="referencePeriodStart"
                          name="referencePeriodStart">
              </p-calendar>
              <p *ngFor="let errorKey of formErrors.referencePeriodStart"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="form-group">
              <label for="referencePeriodEnd">
                {{ 'referencePeriodEnd' | translate }}
                <editor-help-link [helpTextComponent]="referencePeriodHelpText"></editor-help-link>
              </label>
              <br>
              <p-calendar [(ngModel)]="referencePeriodEnd"
                          dateFormat="{{ 'pcalendar.dateFormat' | translate }}"
                          monthNavigator="true"
                          yearNavigator="true"
                          [yearRange]="yearRangeForReferencePeriodFields"
                          showIcon="true"
                          [locale]="dateUtils.getLocaleSettings() | async"
                          placeholder="{{ 'date.placeholder' | translate }}"
                          inputId="referencePeriodEnd"
                          name="referencePeriodEnd">
              </p-calendar>
              <p *ngFor="let errorKey of formErrors.referencePeriodEnd"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
          <div class="col-xs-12">
            <editor-help-text #referencePeriodHelpText key="editor.study.referencePeriod.helpText"></editor-help-text>
          </div>
        </div>

        <div [ngClass]="{ 'bg-danger': (formErrors.collectionStartDate && formErrors.collectionStartDate.length) || (formErrors.collectionEndDate && formErrors.collectionEndDate.length) }"
             class="row">
          <div class="col-sm-6 col-md-5">
            <div class="form-group">
              <label for="collectionStartDate">
                {{ 'collectionStartDate' | translate }}
                <editor-help-link [helpTextComponent]="collectionPeriodHelpText"></editor-help-link>
              </label>
              <br>
              <p-calendar [(ngModel)]="collectionStartDate"
                          dateFormat="{{ 'pcalendar.dateFormat' | translate }}"
                          monthNavigator="true"
                          yearNavigator="true"
                          [yearRange]="yearRangeForReferencePeriodFields"
                          showIcon="true"
                          [locale]="dateUtils.getLocaleSettings() | async"
                          placeholder="{{ 'date.placeholder' | translate }}"
                          inputId="collectionStartDate"
                          name="collectionStartDate">
              </p-calendar>
              <p *ngFor="let errorKey of formErrors.collectionStartDate"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="form-group">
              <label for="collectionEndDate">
                {{ 'collectionEndDate' | translate }}
                <editor-help-link [helpTextComponent]="collectionPeriodHelpText"></editor-help-link>
              </label>
              <br>
              <p-calendar [(ngModel)]="collectionEndDate"
                          dateFormat="{{ 'pcalendar.dateFormat' | translate }}"
                          monthNavigator="true"
                          yearNavigator="true"
                          [yearRange]="yearRangeForReferencePeriodFields"
                          showIcon="true"
                          [locale]="dateUtils.getLocaleSettings() | async"
                          placeholder="{{ 'date.placeholder' | translate }}"
                          inputId="collectionEndDate"
                          name="collectionEndDate">
              </p-calendar>
              <p *ngFor="let errorKey of formErrors.collectionEndDate"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
          <div class="col-xs-12">
            <editor-help-text #collectionPeriodHelpText key="editor.study.collectionPeriod.helpText"></editor-help-text>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div *ngIf="allLifecyclePhases"
                 class="form-group">
              <label for="lifecyclePhase">
                {{ 'study.lifecyclePhase' | translate }}
                <editor-help-link [helpTextComponent]="lifecyclePhaseHelpText"></editor-help-link>
              </label>
              <select [(ngModel)]="study.lifecyclePhase"
                      [compareWith]="nodeUtils.equals"
                      id="lifecyclePhase"
                      name="lifecyclePhase"
                      class="form-control">
                <option [ngValue]="null"></option>
                <option *ngFor="let lifecyclePhase of allLifecyclePhases"
                        [ngValue]="lifecyclePhase">
                  {{lifecyclePhase.prefLabel|lang}}
                </option>
              </select>
              <editor-help-text #lifecyclePhaseHelpText key="editor.study.lifecyclePhase.helpText"></editor-help-text>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="conceptsFromScheme">
            {{ 'conceptsFromScheme' | translate }}
            <editor-help-link [helpTextComponent]="conceptsFromSchemeHelpText"></editor-help-link>
          </label>
          <br>
          <p-autoComplete
            [(ngModel)]="study.conceptsFromScheme"
            [ngModelOptions]="{ standalone: true }"
            [suggestions]="conceptSearchResults"
            (completeMethod)="searchConcept($event)"
            [multiple]="true"
            dataKey="id"
            emptyMessage="{{ 'noMatchingConcepts' | translate }}"
            placeholder="{{ 'conceptsFromSchemePlaceholder' | translate }}"
            minLength="3"
            [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"
            inputId="conceptsFromScheme">

            <ng-template let-concept pTemplate="item">
              <span>
                {{ concept.prefLabel | lang }}
              </span>
              <small style="opacity:.7">
                <span *ngFor="let lang of getConceptLanguages(concept)">
                  {{ lang }}:
                  {{ concept.prefLabel[lang] }}
                </span>
                <ng-container *ngIf="concept.conceptScheme">
                  ({{ concept.conceptScheme.prefLabel | lang }})
                </ng-container>
              </small>
            </ng-template>

            <ng-template let-concept pTemplate="selectedItem">
              <span style="margin-right:1.2em;">
                <span>
                  {{ concept.prefLabel | lang }}
                </span>
                <span *ngIf="concept.conceptScheme" style="opacity:.4">
                  ({{ concept.conceptScheme.prefLabel | lang }})
                </span>
              </span>
            </ng-template>
          </p-autoComplete>
          <editor-help-text #conceptsFromSchemeHelpText key="editor.study.conceptsFromScheme.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="freeConcepts">
            {{ 'freeConcepts' | translate }}
            <editor-help-link [helpTextComponent]="freeConceptsHelpText"></editor-help-link>
          </label>
          <p-chips [(ngModel)]="freeConcepts"
                   [ngModelOptions]="{ standalone: true }"
                   inputId="freeConcepts">
          </p-chips>
          <editor-help-text #freeConceptsHelpText key="editor.study.freeConcepts.helpText"></editor-help-text>
        </div>

        <div class="form-group">
          <label for="datasetType">
            {{ 'datasetType' | translate }}
            <editor-help-link [helpTextComponent]="datasetTypeHelpText"></editor-help-link>
          </label>
          <br>
          <p-multiSelect [(ngModel)]="selectedDatasetTypeItems"
                         [ngModelOptions]="{ standalone: true }"
                         [options]="datasetTypeItems"
                         defaultLabel="{{ 'selectDatasetType' | translate }}"
                         selectedItemsLabel="{0} {{ 'amountDatasetTypesSelected' | translate }}"
                         inputId="datasetType">
          </p-multiSelect>
          <editor-help-text #datasetTypeHelpText key="editor.study.datasetType.helpText"></editor-help-text>
        </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>
                  {{ 'studyGroup.studyGroup' | translate }}
                  <editor-help-link [helpTextComponent]="studyGroupHelpText"></editor-help-link>
                </label>
                <ng-container *ngIf="availableStudyGroupItems.length > 1; else noAvailableStudyGroupItems;">
                  <br>
                  <p-dropdown [(ngModel)]="study.studyGroup"
                              [ngModelOptions]="{ standalone: true }"
                              [options]="availableStudyGroupItems"
                              filter="true"
                              dataKey="id">
                    <ng-template let-studyGroupItem pTemplate="item">
                      <ng-container *ngIf="studyGroupItem.value; else nullValueStudyGroupItem;">
                        <div>
                          {{ studyGroupItem.value.prefLabel | lang }}
                          <ng-container *ngIf="studyGroupItem.value.description | lang">
                            <br>
                            <small style="opacity:.7">
                              {{ studyGroupItem.value.description | lang }}
                            </small>
                          </ng-container>
                        </div>
                      </ng-container>
                      <ng-template #nullValueStudyGroupItem>
                        {{ studyGroupItem.label }}
                      </ng-template>
                    </ng-template>
                  </p-dropdown>
                  <span style="padding-left:1em;padding-right:1em">|</span>
                </ng-container>
                <ng-template #noAvailableStudyGroupItems>
                  <ng-container *ngIf="study.ownerOrganization; else noStudyOwnerOrganizationSelected;">
                    <p>{{ 'StudyEditComponent.selectedOwnerOrganizationHasNoStudyGroups' | translate }}</p>
                  </ng-container>
                  <ng-template #noStudyOwnerOrganizationSelected>
                    <p>{{ 'StudyEditComponent.selectOwnerOrganizationFirst' | translate }}</p>
                  </ng-template>
                </ng-template>
                <ng-container *ngIf="study.ownerOrganization">
                  <button
                    (click)="showAddStudyGroupModal()"
                    class="btn btn-default btn-sm"
                    type="button">
                    <glyphicon icon="plus"></glyphicon>
                    {{ 'addStudyGroup' | translate }}
                  </button>
                  <study-group-edit-modal *ngIf="newStudyGroup"
                                          [studyGroup]="newStudyGroup"
                                          (onSave)="saveStudyGroup($event)"
                                          (onCancel)="closeAddStudyGroupModal()">
                  </study-group-edit-modal>
                </ng-container>
                <editor-help-text #studyGroupHelpText key="editor.study.studyGroup.helpText"></editor-help-text>
              </div>
            </div>
          </div>

        <div class="form-group">
          <study-relations-edit
            [study]="study">
          </study-relations-edit>
        </div>

        <div class="form-group">
          <label for="comment">
            {{ 'comment' | translate }}
            <editor-help-link [helpTextComponent]="commentHelpText"></editor-help-link>
          </label>
          <textarea [(ngModel)]="study.comment"
                    thlAutogrow
                    id="comment"
                    name="comment"
                    class="form-control"
                    rows="2">
          </textarea>
          <editor-help-text #commentHelpText key="editor.study.comment.helpText"></editor-help-text>
        </div>

      </form>

    </div>

    <div class="edit-controls-padding"></div>

  </div>

  <div class="edit-controls-fixed">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <button (click)="save()"
                  [disabled]="savingInProgress"
                  class="btn btn-primary"
                  type="button">
            <glyphicon icon="floppy-disk"></glyphicon>
            {{ 'save' | translate }}
          </button>
          <button (click)="goBack()"
                  [disabled]="savingInProgress"
                  class="btn btn-default"
                  type="button">
            {{ 'cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>



