<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="principlesForPhysicalSecurity" translate="principlesForPhysicalSecurity.label"></label>
      <editor-help-link [helpTextComponent]="principlesForPhysicalSecurityHelpText"></editor-help-link>
      <br>
      <editor-help-text #principlesForPhysicalSecurityHelpText key="editor.studyAdministrative.principlesForPhysicalSecurity.helpText"></editor-help-text>
      <p-multiSelect [(ngModel)]="study.principlesForPhysicalSecurity"
                     [ngModelOptions]="{ standalone: true }"
                     [options]="principlesForPhysicalSecurityItems"
                     [filter]="false"
                     defaultLabel="{{ 'selectPrinciples' | translate }}"
                     selectedItemsLabel="{0} {{ 'amountPrinciplesSelected' | translate }}"
                     inputId="principlesForPhysicalSecurity">
      </p-multiSelect>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div *ngIf="hasOtherPrinciplesForPhysicalSecurity()"
         class="form-group conditionally-visible">
      <label for="otherPrinciplesForPhysicalSecurity" translate="securityPrinciple.otherPrinciplesForPhysicalSecurity"></label>
      <br/>
      <p-multiSelect [(ngModel)]="selectedOtherPhysicalSecurityPrinciples"
                     [ngModelOptions]="{ standalone: true }"
                     [options]="otherPhysicalSecurityPrinciples"
                     [filter]="true"
                     defaultLabel="{{ 'securityPrinciple.selectOther' | translate }}"
                     selectedItemsLabel="{0} {{ 'amountPrinciplesSelected' | translate }}"
                     inputId="otherPrinciplesForPhysicalSecurity">
      </p-multiSelect>
      <button (click)="showAddPhysicalSecurityPrincipleModal()"
              type="button"
              class="btn btn-default btn-security-principle-new">
        <glyphicon icon="plus"></glyphicon>
        {{ 'securityPrinciple.addNew' | translate }}
      </button>
    </div>
  </div>
</div>

<security-principle-edit-modal *ngIf="newSupplementaryPhysicalSecurityPrinciple"
                               [securityPrinciple]="newSupplementaryPhysicalSecurityPrinciple"
                               (onSave)="savePhysicalSecurityPrinciple($event)"
                               (onCancel)="closeAddPhysicalSecurityPrincipleModal()">
</security-principle-edit-modal>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="principlesForDigitalSecurity" translate="principlesForDigitalSecurity.label"></label>
      <editor-help-link [helpTextComponent]="principlesForDigitalSecurityHelpText"></editor-help-link>
      <br>
      <editor-help-text #principlesForDigitalSecurityHelpText key="editor.studyAdministrative.principlesForDigitalSecurity.helpText"></editor-help-text>
      <p-multiSelect [(ngModel)]="study.principlesForDigitalSecurity"
                     [ngModelOptions]="{ standalone: true }"
                     [options]="principlesForDigitalSecurityItems"
                     [filter]="false"
                     defaultLabel="{{ 'selectPrinciples' | translate }}"
                     selectedItemsLabel="{0} {{ 'amountPrinciplesSelected' | translate }}"
                     inputId="principlesForDigitalSecurity">
      </p-multiSelect>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div *ngIf="hasOtherPrinciplesForDigitalSecurity()"
         class="form-group conditionally-visible">
      <label for="otherPrinciplesForDigitalSecurity" translate="securityPrinciple.otherPrinciplesForDigitalSecurity"></label>
      <br/>
      <p-multiSelect [(ngModel)]="selectedOtherDigitalSecurityPrinciples"
                     [ngModelOptions]="{ standalone: true }"
                     [options]="otherDigitalSecurityPrinciples"
                     [filter]="true"
                     defaultLabel="{{ 'securityPrinciple.selectOther' | translate }}"
                     selectedItemsLabel="{0} {{ 'amountPrinciplesSelected' | translate }}"
                     inputId="otherPrinciplesForDigitalSecurity">
      </p-multiSelect>
      <button (click)="showAddDigitalSecurityPrincipleModal()"
              type="button"
              class="btn btn-default btn-security-principle-new">
        <glyphicon icon="plus"></glyphicon>
        {{ 'securityPrinciple.addNew' | translate }}
      </button>
    </div>
  </div>
</div>

<security-principle-edit-modal *ngIf="newSupplementaryDigitalSecurityPrinciple"
                               [securityPrinciple]="newSupplementaryDigitalSecurityPrinciple"
                               (onSave)="saveDigitalSecurityPrinciple($event)"
                               (onCancel)="closeAddDigitalSecurityPrincipleModal()">
</security-principle-edit-modal>
