body {
  font-family: "Open Sans", sans-serif;
  background-color: #F6F5F9;
}

a {
  color: #2F4752;
}

h1 {
    font-size: 36px;
    color: #01A197;
    font-weight: 200;
}
h2 {
    font-size: 24px;
    font-weight: 200;
}
h3 {
    font-size: 18px;
    font-weight: 200;
}

.field-label,
.form-group > label {
  font-family: "Open Sans", sans-serif; /* needed to override default font in modals */
  font-size: 18px;
  font-weight: 200;
}

.preserve-line-breaks {
  white-space: pre-line;
  line-height: 1.1em;
}

.row.bg-highlight,
.row.bg-primary,
.row.bg-success,
.row.bg-info,
.row.bg-warning,
.row.bg-danger {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 2px;
}
.row.bg-highlight {
  background-color: lightgray;
}
/* !important needed for overriding background color in striped tables */
.bg-danger {
  background-color: #f2dede !important;
}

/* Main navigation */

.navbar-default {
  background-color: #fff;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  border-radius: 0;
  box-shadow: 0 1px 1px #ddd
}
.navbar-default .navbar-brand {
  color: #333;
  font-weight: bold;
}
.navbar-default .navbar-brand sup {
  color: #01A197;
}

@media (max-width: 768px) {
  .navbar-nav > li, .navbar-nav {
    float: left;
    margin-left: 0;
  }
}

.navbar-editor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 123;
  height: 55px;
  background-color: #01837A;
  color: white;
  border-radius: 0;
  border-bottom: 1px solid #006860;
}
.navbar-editor .navbar-nav > li > a {
  color:white;
  border-bottom: 3px #01837A solid;
}
.navbar-editor .navbar-nav > .active > a {
  color: white;
  background-color:transparent;
}
.navbar-editor .navbar-nav > li > a:hover,
.navbar-editor .navbar-nav > li > a:focus,
.navbar-editor .navbar-nav > .active > a:hover,
.navbar-editor .navbar-nav > .active > a:focus,
.navbar-editor .navbar-nav > .open > a {
  text-decoration: none;
  border-bottom: 3px #fff solid;
  background-color: #01837A;
}
.navbar-editor .navbar-brand {
  color:white;
}
.navbar-editor .navbar-toggle {
  background-color:white;
}
.navbar-editor .icon-bar {
  background-color: #01837A;
}

/* Left sidebar */

.sidebar {
  position: fixed;
  z-index: 4;
  margin-top: 0;
  margin-left: 0;
  width: 80px;
  height: 100%;
  padding-top: 15px;
  border-right: 1px solid #ccc;
  background-color: white;
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}
.sidebar ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.sidebar ul li {
  display: block;
  margin-bottom: 20px;
}
.sidebar ul li.active {
  background-color: rgb(192, 221, 219);
}

.sidebar ul li .icon svg {
  height: 3em;
}

.sidebar ul li a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
}
.sidebar ul li:hover a {
  background-color: #01A197;
  color: white;
  text-decoration: none;
}

/* Main containers and content containers */

.main-container {
}

.main-container.catalog {
  background-color: white;
}
.main-container.catalog.container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: white;
}
.main-container.catalog.container h1 {
  margin-top: 0;
}

.main-container.editor {
  max-width: 1200px;
  margin-top: 85px;
}

.main-container.editor.container-fluid.hiddenNavBar {
  margin-top: 0;
  padding: 0;
}

.main-container.has-sidebar .content-container {
  margin-top: 85px;
  margin-bottom: 0;
  margin-left: 80px;
  margin-right: 0;
  height: 100%;
  background-color: #F6F5F9;
}

.content-header {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 35px;
}

.content-header h1,
.content-header h2 {
  margin: 0;
  padding: 0;
  color: #333;
}
.content-header h1 {
  font-size: 24px;
  font-weight: 600;
}
.content-header h2 {
  font-size: 20px;
  font-weight: 300;
}

.content-body {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
}
.content-body h1,
.content-body h2,
.content-body h3 {
  margin-top: .3em;
}
.content-body .row:first-of-type h1,
.content-body .row:first-of-type h2,
.content-body .row:first-of-type h3 {
  margin-top: 0;
}

.has-sidebar .edit-controls-fixed {
  position: fixed;
  bottom: 0;
  left: 100px;
  right: 30px;
  max-width: 1070px;
  z-index: 5;
  border: 1px solid #ccc;
  border-bottom: 0;
  background-color: #eee;
  box-shadow: 0 -15px 35px white;
}

.has-sidebar .edit-controls-fixed .container-fluid {
  padding: 12px 20px;
}

.edit-controls-padding {
  padding-bottom: 55px;
}

/* PrimeNG custom styles */

/* Dropdown component's search bar (shown when filtering is enabled) */
.ui-dropdown-filter-container {
  width: 100%;
}

/* Table format of e.g. the variable table in catalog  */

.data-table-plain {
    margin-top: 2em;
    border: none;
}

.data-table-plain thead {
  border-bottom: 1px solid black;
}

.data-table-plain tbody {
  border: none;
}

.data-table-plain .ui-column-title {
  font-weight: bold;
  color: black;
}

.data-table-plain thead th {
  text-align: left;
}

.data-table-plain>tbody>tr {
  border: none;
}
