a {
  color: #2F4752;
}

h1 {
    font-size: 36px;
    color: #01A197;
    font-weight: 200;
}

h2 {
    font-size: 24px;
    font-weight: 200;
}

.preserve-line-breaks {
  white-space: pre-line;
  line-height: 1.1em;
}

.edit-controls-fixed{
  background-color:rgba(0, 0, 0, 0.1);
  bottom:0;
  left:0;
  padding:10px 15px;
  position:fixed;
  top:auto;
  width:100%;
  z-index: 3;
}

.edit-controls-padding {
    padding-bottom: 30px;
}

/* PrimeNG custom styles */

/* Dropdown component's search bar (shown when filtering is enabled) */
.ui-dropdown-filter-container {
  width: 100%;
}
