.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.settings
.project
.classpath
.metadata
.idea
.vscode
*.iml
*.swp
**/target/
**/*~
phantomjsdriver.log
**/rebel.xml
**/nb_jr_remoting.cfg
**/nb-configuration.xml
**/#*#
node/
node_modules/
dist/
etc/
/**/npm-debug.log
/**/nbproject/
/server/application.properties
/server/nbactions.xml
