.hero {
  height: 225px;
  margin-top: -40px;
  margin-bottom: 58px;
  padding-top: 72px;
  padding-bottom: 72px;
  background: #01837A url('/assets/frontpage-hero-image.png') no-repeat;
  background-position-y: bottom;
}

.special-width-container {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

h1 {
  color: #fff;
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.13);
}

.lead-text {
  color: #fff;
  font-size: 1.35em;
  font-weight: 200;
  line-height: 29px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.14);
}

h2 {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 1.45em;
  color: #202020;
}

.latest-studies ul {
  padding-left: 0;
}

.latest-studies li {
  padding-bottom: 24px;
  padding-left: 0;
  font-size: 1.15em;
  list-style: none;
}

.latest-studies li::before {
  content: ">";
}

.latest-studies li,
.latest-studies li a {
  color: #01837A;
}

.all-studies-button {
  padding: 28px;
  border: 1px solid #007169;
  border-radius: 2px;
  background-color: #01837A;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}

.instance-variable-search p {
  margin-bottom: 72px;
  font-size: 1.15em;
}

.instance-variable-search input,
.search-button {
  padding-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #202020;
  border-radius: 0;
  box-shadow: none;
  color: #202020;
}

.instance-variable-search input {
  padding-left: 1px;
  font-size: 1.15em;
}

.search-button {
  height: 34px;
}

@media (max-width: 767px) {
  .hero {
    height: 153px;
    margin-bottom: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .special-width-container {
    padding-left: 2em;
    padding-right: 5em;
  }

  h2 {
    margin-bottom: 24px;
  }

  .latest-studies {
    margin-bottom: 36px;
  }

  .instance-variable-search p {
    margin-bottom: 36px;
  }
}
