<section class="hero special-width-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>{{ 'catalog.frontpage.mainHeader' | translate }}</h1>
      <p class="lead-text">{{ 'catalog.frontpage.leadText' | translate }}</p>
    </div>
  </div>
</section>
<section class="after-hero special-width-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 latest-studies">
      <h2>{{ 'catalog.frontpage.latestStudies' | translate }}</h2>
      <ng-container *ngIf="!isLoadingStudies else loadingStudies;">
        <ng-container *ngIf="studies.length; else noStudies;">
          <ul>
            <li *ngFor="let study of studies">
              <fa icon="chevron-right" class="list-bullet"></fa>
              <a routerLink="/catalog/studies/{{ study.id }}">{{study.prefLabel | lang}}</a>
            </li>
          </ul>
          <button routerLink="/catalog/studies"
                  type="button"
                  class="btn btn-default all-studies-button">
            {{ 'catalog.frontpage.allStudiesButton' | translate | uppercase }}
          </button>
        </ng-container>
        <ng-template #noStudies>
          <p>{{ 'catalog.frontpage.noStudies' | translate }}</p>
        </ng-template>
      </ng-container>
      <ng-template #loadingStudies>
        <thl-spinner></thl-spinner>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-4 instance-variable-search">
      <h2>{{ 'catalog.frontpage.searchVariables' | translate }}</h2>
      <p>{{ 'catalog.frontpage.searchVariableInfo' | translate }}</p>
      <div class="input-group">
        <input [(ngModel)]="searchText"
               (keyup.enter)="searchVariables(searchText)"
               placeholder="{{ 'catalog.frontpage.searchVariablePlaceholder' | translate }}"
               type="text"
               class="form-control">
        <span class="input-group-btn">
          <button (click)="searchVariables(searchText)"
                  type="button"
                  class="btn btn-default search-button">
            <fa icon="search" class="search-icon"></fa>
            <span class="sr-only">{{ 'search' | translate }}</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</section>
