<div *ngIf="dataSet">
    <h1>
        <property-value [props]="dataSet.properties" [key]="'prefLabel'"></property-value>
    </h1>
    <h2 translate="altLabel"></h2>
    <p>
        <property-value [props]="dataSet.properties" [key]="'altLabel'"></property-value>
    </p>
    <h2>{{ 'description' | translate }}</h2>
    <p>
        <property-value [props]="dataSet.properties" [key]="'description'"></property-value>
    </p>
    <h2 translate="abbreviation"></h2>
    <p>
        <property-value [props]="dataSet.properties" [key]="'abbreviation'"></property-value>
    </p>
    <h2 translate="abstract"></h2>
    <p>
        <property-value [props]="dataSet.properties" [key]="'abstract'"></property-value>
    </p>
    <h2 translate="researchProjectURL"></h2>
    <p>
        <property-value [props]="dataSet.properties" [key]="'researchProjectURL'"></property-value>
    </p>
    <h2 translate="published"></h2>
    <p>
        <property-value [props]="dataSet.properties" [key]="'published'" [translateable]='true'></property-value>
    </p>
    <div *ngIf="ownerOrganization">
        <h2>{{ 'organization' | translate }}</h2>
        <p>
            <organization [organization]="ownerOrganization"></organization>
        </p>
    </div>

    <div *ngIf="instanceVariables && instanceVariables.length">
        <h2>{{ 'variables' | translate }}</h2>
        <ul>
            <li *ngFor="let variable of instanceVariables">
                <instance-variable [variable]="variable"></instance-variable>
            </li>
        </ul>
    </div>

</div>

<hr>

<p>
    <button class="btn btn-default" routerLink="/datasets">
        <span class="glyphicon glyphicon-chevron-left"></span> {{ 'back' | translate }}
    </button>
</p>
