.alt-label {
  color: #767676;
  margin-top: 0;
  font-size: 1.3em;
}

.bordered-box {
  margin-top: .5em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #ccc;
}
