<div *ngIf="dataSet">

  <h1>
    {{ 'dataset' | translate }}:
    <property-value [props]="dataSet.properties" [key]="'prefLabel'"></property-value>
  </h1>

  <div class="form-group">
    <label for="prefLabel">{{ 'prefLabel' | translate }}</label>
    <input [(ngModel)]="dataSet.properties.prefLabel[0].value"
      id="prefLabel"
      name="prefLabel"
      type="text"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="altLabel" translate="altLabel"></label>
    <input [(ngModel)]="dataSet.properties.altLabel[0].value"
      id="altLabel"
      name="altLabel"
      class="form-control"
      type="text">
  </div>

  <div class="form-group">
    <label for="abbreviation" translate="abbreviation"></label>
    <input [(ngModel)]="dataSet.properties.abbreviation[0].value"
      id="abbreviation"
      name="abbreviation"
      class="form-control"
      type="text">
  </div>

  <!-- FIXME: Organization selection does not work because in Termed the 'owner' relationship refers to old graph version (v2). -->
<!--
  <div class="form-group">
    <label for="ownerOrganization">{{ 'organization' | translate }}</label>
    <select [(ngModel)]="dataSet.references?.owner[0]"
      [compareWith]="nodeUtils.equals"
      id="ownerOrganization"
      class="form-control">
      <option *ngFor="let organization of allOrganizations"
        [ngValue]="organization">
        <organization [organization]="organization"></organization>
      </option>
    </select>
  </div>
-->
  <div class="form-group">
    <label for="description">{{ 'description' | translate }}</label>
    <textarea [(ngModel)]="dataSet.properties.description[0].value"
      id="description"
      name="description"
      class="form-control"
      rows="6">
    </textarea>
  </div>

  <div class="form-group">
    <label for="abstract" translate="abstract"></label>
    <textarea [(ngModel)]="dataSet.properties.abstract[0].value"
      id="abstract"
      name="abstract"
      class="form-control"
      rows="6">
    </textarea>
  </div>

  <div class="form-group">
    <label for="researchProjectURL" translate="researchProjectURL"></label>
    <input [(ngModel)]="dataSet.properties.researchProjectURL[0].value"
      id="researchProjectURL"
      name="researchProjectURL"
      class="form-control"
      type="text">
  </div>

  <div class="form-group">
    <label for="registryPolicy" translate="registryPolicy"></label>
    <textarea [(ngModel)]="dataSet.properties.registryPolicy[0].value"
              id="registryPolicy"
              name="registryPolicy"
              class="form-control"
              rows="6">
    </textarea>
  </div>

  <div class="form-group">
    <label for="usageCondition">{{ 'usageCondition' | translate }}</label>
    <select [(ngModel)]="usageCondition"
            [compareWith]="nodeUtils.equals"
            id="usageCondition"
            class="form-control">
      <option [ngValue]="null"></option>
      <option *ngFor="let usageCondition of allUsageConditions"
              [ngValue]="usageCondition">
        <property-value [props]="usageCondition.properties" [key]="'prefLabel'"></property-value>
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="usageConditionAdditionalInformation">{{ 'usageConditionAdditionalInformation' | translate }}</label>
    <textarea [(ngModel)]="dataSet.properties.usageConditionAdditionalInformation[0].value"
              id="usageConditionAdditionalInformation"
              name="usageConditionAdditionalInformation"
              class="form-control"
              rows="2">
    </textarea>
  </div>

  <div class="form-group">
    <label for="population-prefLabel">{{ 'population' | translate }}</label>
    <textarea [(ngModel)]="population.properties.prefLabel[0].value"
              id="population-prefLabel"
              name="population-prefLabel"
              class="form-control"
              rows="3">
    </textarea>
  </div>

  <div class="form-group">
    <label for="population-geographicalCoverage">{{ 'geographicalCoverage' | translate }}</label>
    <textarea [(ngModel)]="population.properties.geographicalCoverage[0].value"
              id="population-geographicalCoverage"
              name="population-geographicalCoverage"
              class="form-control"
              rows="2">
    </textarea>
  </div>

  <div class="form-group">
    <label for="population-sampleSize">{{ 'sampleSize' | translate }}</label>
    <input [(ngModel)]="population.properties.sampleSize[0].value"
           id="population-sampleSize"
           name="population-sampleSize"
           type="text"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="population-loss">{{ 'loss' | translate }}</label>
    <input [(ngModel)]="population.properties.loss[0].value"
           id="population-loss"
           name="population-loss"
           type="text"
           class="form-control">
  </div>


<div class="form-group">
      <label for="referencePeriodStart">{{ 'referencePeriodStart' | translate }}</label>
      <div class="input-group">
        <input class="form-control"
             disabled
             placeholder="{{'inputDateFormat' | translate}}"            
             name="referencePeriodStart" [ngModel]="selectedReferencePeriodStartDate | date:'yyyy-MM-dd'">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="toggleReferenceStartPeriodCalendar()">
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </span>
      </div>

      <div *ngIf="showReferencePeriodStartCalendar">
        <datepicker [(ngModel)]="selectedReferencePeriodStartDate" [startingDay]="1" ></datepicker>
      </div>
      
</div>

<div class="form-group">
      <label for="referencePeriodEnd">{{ 'referencePeriodEnd' | translate }}</label>
      <div class="input-group">
      <input class="form-control"
             disabled
             placeholder="{{'inputDateFormat' | translate}}"  
             name="referencePeriodEnd" [ngModel]="selectedReferencePeriodEndDate | date:'yyyy-MM-dd'">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="toggleReferenceEndPeriodCalendar()">
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </span>
      </div>

      <div *ngIf="showReferencePeriodEndCalendar">
          <datepicker [(ngModel)]="selectedReferencePeriodEndDate" [startingDay]="1" ></datepicker>
      </div>
</div>

  <div class="form-group">
    <label for="lifecyclePhase" translate="lifecyclePhase"></label>
    <input [(ngModel)]="lifecyclePhase.properties.prefLabel[0].value"
              id="lifecyclePhase"
              name="lifecyclePhase"
              class="form-control"
              type='text'>
  </div>

  <hr>

  <div>
    <button class="btn btn-default" (click)="goBack()">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{ 'cancel' | translate }}
    </button>
    <button class="btn btn-primary" (click)="save()">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      {{ 'save' | translate }}
    </button>
  </div>

</div>

