<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="../fragments/head :: head">
        <title th:text="${name}">index page</title>
    </head>
    <body>
        <header th:replace="../fragments/header :: header">
            <h1>Index page</h1>
        </header>
        <section>
            <p th:text="${message}">Error</p>
        </section>
        <footer th:replace="../fragments/footer :: footer">
            <span>&COPY; THL</span>
        </footer>
    </body>
</html>
