<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:attr="
      ng-app=${name},
      context-path=${contextPath}
      ">

    <head th:replace="../fragments/head :: head">
        <title th:text="${name}">index page</title>
    </head>
    <body>
        <script id="api-services"
                th:replace="../fragments/services :: api"></script>

        <script id="ui-services"
                th:replace="../fragments/services :: ui"></script>

        <header th:replace="${header} ?: '../fragments/header' :: header">
            <h1>Index page</h1>
        </header>

        <nav class="navigation" th:replace="${navigation} ?: '../fragments/navigation' :: navigation">
            <p>This is the navigation</p>
        </nav>

        <section class="content" th:replace="${content} :: content">
            <p>This is the main content section.</p>
        </section>

        <footer class="footer"
                th:replace="../fragments/footer :: footer">
            <span>&COPY; THL</span>
        </footer>

    </body>
</html>
