<div [ngClass]="{ 'catalog': currentPageType == PageIdentifier.CATALOG, 'editor': currentPageType == PageIdentifier.EDITOR }"
  class="background-container">

<nav *ngIf="!hideNavBar" class="navbar" [ngClass]="{'navbar-editor':currentPageType == PageIdentifier.EDITOR,
 'navbar-default':currentPageType == PageIdentifier.CATALOG}">
  <div class="container-fluid">
    <ng-container *ngIf="currentPageType == PageIdentifier.CATALOG">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/catalog">
          {{ 'datasetCatalog' | translate }}
          <sup>{{ 'beta' | translate }}</sup>
        </a>
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/catalog/studies/">{{'study.studies' | translate}}</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a routerLink="/catalog/instancevariables">{{'instanceVariables' | translate}}</a></li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="currentPageType == PageIdentifier.EDITOR">
      <div class="navbar-header" style="width: 100%;">
        <a class="navbar-brand" routerLink="/editor">
          {{ 'datasetEditor' | translate }}
          <sup>{{ 'beta' | translate }}</sup>
        </a>
        <ul *ngIf="currentUser && currentUser.isLoggedIn" class="nav navbar-nav">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/editor/studies/">{{ 'study.studies' | translate }}</a></li>
        </ul>
        <adminMenu [currentUser]="currentUser">
        </adminMenu>
        <userMenu [currentUser]="currentUser"
                  (onLogout)="handleLogout()">
        </userMenu>
      </div>
    </ng-container>
  </div>
</nav>

<breadcrumb [breadcrumbStyle]="currentPageType === PageIdentifier.CATALOG ? 'catalog' : 'editor'"
            [currentUser]="currentUser"></breadcrumb>

<p-growl [(value)]="growlMessageService.messages"
         life="7000">
</p-growl>

<div [ngClass]="mainContainerClasses">
  <router-outlet></router-outlet>
</div>

</div>
