<nav class="navbar" [ngClass]="{'navbar-editor':currentPageType == PageIdentifier.EDITOR,
 'navbar-default':currentPageType == PageIdentifier.CATALOG}">
  <div class="container-fluid">
    <ng-container *ngIf="currentPageType == PageIdentifier.CATALOG">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/catalog">
          {{ 'datasetCatalog' | translate }}
          <sup>{{ 'beta' | translate }}</sup>
        </a>
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/catalog/datasets/">{{'datasets' | translate}}</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a routerLink="/catalog/instancevariables">{{'instanceVariables' | translate}}</a></li>
          </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="currentPageType == PageIdentifier.EDITOR">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/editor">
          {{ 'datasetEditor' | translate }}
          <sup>{{ 'beta' | translate }}</sup>
        </a>
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/editor/datasets/">{{'datasets' | translate}}</a></li>
          </ul>
      </div>
    </ng-container>
  </div>
</nav>

<p-growl [(value)]="growlMessageService.messages"
         life="6000">
</p-growl>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer style="height:2em;clear:both;">
</footer>
