.background-container {
  width: 100%;
  height: 100%;
}
.background-container.catalog {
  background-color: white;
}
.background-container.editor {
  background-color: #F6F5F9;
}

footer {
  position: relative;
  left: 50%;
  right: 50%;
  min-height: 90px;
  width: 100vw;
  margin-top: 2em;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 33px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0;

}
