<ng-container *ngIf="study; else loadingStudy">

  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{ study.prefLabel | lang }}
        <span *ngIf="study.abbreviation | lang">
          ({{ study.abbreviation | lang }})
        </span>
      </h1>
      <h2 class="sr-only">{{ 'altLabel' | translate }}</h2>
      <p *ngIf="study.altLabel | lang" class="alt-label">
        {{ study.altLabel | lang }}
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3 col-sm-push-9 right-main-column">

      <ng-container *ngIf="study.ownerOrganization">
        <h2 class="sr-only">{{ 'organization' | translate}}</h2>
        <p class="owner-organization">
          {{ study.ownerOrganization.prefLabel | lang }}
          <span *ngIf="study.ownerOrganization.abbreviation | lang">
            ({{ study.ownerOrganization.abbreviation | lang }})
          </span>
        </p>
      </ng-container>

      <ng-container *ngIf="study.personInRoles && study.personInRoles.length">
        <h2>{{ 'catalog.personInRoles' | translate }}</h2>
        <ng-container *ngFor="let personInRole of study.personInRoles">
          <p *ngIf="personInRole.public">
            <span class="person-name">
              {{ personInRole.person.firstName }}
              {{ personInRole.person.lastName }}
            </span>
            <ng-container *ngIf="personInRole.role">
              <br>
              <em>{{ personInRole.role.prefLabel | lang }}</em>
            </ng-container>
            <ng-container *ngIf="personInRole.person.phone">
              <br>
              <em>{{ personInRole.person.phone }}</em>
            </ng-container>
            <ng-container *ngIf="personInRole.person.email">
              <br>
              <a href="mailto:{{ personInRole.person.email }}" class="person-email">
                {{ personInRole.person.email }}
              </a>
            </ng-container>
          </p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="study.datasetTypes && study.datasetTypes.length">
        <h2>
          {{ 'datasetType' | translate }}
        </h2>
        <p *ngFor="let datasetType of study.datasetTypes">
          {{ datasetType.prefLabel | lang }}
        </p>
      </ng-container>

      <h2 *ngIf="study.usageCondition || (study.usageConditionAdditionalInformation | lang)">
        {{ 'usageCondition' | translate }}
      </h2>
      <p *ngIf="study.usageCondition">
        {{ study.usageCondition.prefLabel | lang }}
      </p>
      <p *ngIf="study.usageConditionAdditionalInformation">
        <span class="preserve-line-breaks">{{ study.usageConditionAdditionalInformation | lang }}</span>
      </p>

      <div *ngIf="study.links && study.links.length">
        <h2>{{'links'|translate}}</h2>
        <p *ngFor="let link of study.links" class="link">
          <a href="{{ link.linkUrl | lang }}" target="_blank">
            {{ link.prefLabel | lang }}
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </div>

    <!-- Left main column -->
    <div class="col-sm-9 col-sm-pull-3">
      <div *ngIf="study.description | lang" class="row">
        <div class="col-xs-12">
          <p class="preserve-line-breaks">{{ study.description | lang }}</p>
        </div>
      </div>

      <div *ngIf="highlights.length" class="row detail-highlights">
        <ng-container *ngFor="let highlight of highlights; first as isFirstHighlightInRow">
          <div class="col-sm-4" [ngClass]="{'col-sm-offset-4':highlights.length == 1, 'col-sm-offset-2': isFirstHighlightInRow && highlights.length == 2 }">
            <div class="detail-highlight" [ngSwitch]="highlight">
              <ng-container *ngSwitchCase="StudyDetailHighlight.UNIVERSE">
                <div class="icon-svg">
                  <icon-universe></icon-universe>
                </div>
                <div class="caption">
                  {{ 'universe' | translate }}
                </div>
                <div class="value">
                  {{ study.universe.prefLabel | lang }}
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="StudyDetailHighlight.REFERENCE_PERIOD">
                <div class="icon">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                </div>
                <div class="caption">
                  {{ 'referencePeriod' | translate }}
                </div>
                <div class="value" *ngIf="study.referencePeriodStart || study.referencePeriodEnd">
                  <ng-container *ngIf="study.referencePeriodStart">
                    {{ study.referencePeriodStart | date:'dd.MM.yyyy' }}
                  </ng-container>
                  —<br>
                  <ng-container *ngIf="study.referencePeriodEnd">
                    {{ study.referencePeriodEnd | date:'dd.MM.yyyy' }}
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="StudyDetailHighlight.GEOGRAPHICAL_COVERAGE">
                <div class="icon">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="caption">
                  {{ 'geographicalCoverage' | translate }}
                </div>
                <div class="value">
                  {{ study.population.geographicalCoverage | lang }}
                </div>
              </ng-container>

            </div>
          </div>

        </ng-container>
      </div>

      <div *ngIf="study.conceptsFromScheme.length || (study.freeConcepts | lang)" class="row">
        <div class="col-xs-12">
          <div class="concepts">
            <h2>{{ 'concepts' | translate }}</h2>
            <div class="items">
              <ng-container *ngIf="study.conceptsFromScheme.length">
                <p *ngFor="let concept of study.conceptsFromScheme" 
                   pTooltip="{{ 'source' | translate }}: {{ (concept.conceptScheme ? (concept.conceptScheme.prefLabel | lang) : '') }}"
                   tooltipPosition="bottom">
                  {{concept.prefLabel | lang}}
                </p>
              </ng-container>
              <ng-container *ngIf="study.freeConcepts | lang">
                <p *ngFor="let concept of study.freeConcepts[language].split(';')">
                  {{ concept.trim() }}
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-container *ngIf="study.datasets && study.datasets.length">
    <div class="datasets">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ 'datasets' | translate }}</h2>
          <p>{{ 'catalog.study.datasetVariablesBreakdown' | translate:{datasetCount:study.datasets.length} }}</p>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let dataset of study.datasets" class="col-sm-4">
          <div class="dataset">
            <div *ngIf="dataset.prefLabel | lang as datasetLabel" class="prefLabel">
              {{ datasetLabel | truncate: datasetLabelTruncateLength : "" }}
              <span *ngIf="datasetLabel.length > datasetLabelTruncateLength" >
                {{  datasetLabel | truncate:
                    Math.max(datasetLabelTruncateFromEndLength,-(datasetLabel.length-datasetLabelTruncateLength) )
                }}
              </span>
            </div>
            <div class="variables">
              <div class="row">
                <div class="col-xs-12 count">
                  {{ dataset.instanceVariables.length }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 count-label">
                  {{ 'catalog.study.datasetVariableCountLabel' | translate }}
                </div>
                <div class="col-sm-9 navigation">
                  <a routerLink="/catalog/studies/{{ study.id }}/datasets/{{dataset.id}}">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{ 'catalog.study.goToDataset' | translate
                    | uppercase }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</ng-container>


<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>

<hr>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default" routerLink="/catalog/studies">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{ 'back' | translate }}
    </button>
  </div>
</div>
