<ng-container *ngIf="study; else loadingStudy;">

  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{ study.prefLabel | lang }}
        <span *ngIf="study.abbreviation | lang">
          ({{ study.abbreviation | lang }})
        </span>
      </h1>
      <h2 class="sr-only">{{ 'altLabel' | translate }}</h2>
      <p *ngIf="study.altLabel | lang" class="alt-label">
        {{ study.altLabel | lang }}
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3 col-sm-push-9 right-main-column">

      <ng-container *ngIf="study.ownerOrganization">
        <h2 class="sr-only">{{ 'organization' | translate}}</h2>
        <p class="owner-organization">
          {{ study.ownerOrganization.prefLabel | lang }}
          <span *ngIf="study.ownerOrganization.abbreviation | lang">
            ({{ study.ownerOrganization.abbreviation | lang }})
          </span>
        </p>
      </ng-container>

      <ng-container *ngIf="study.personInRoles && study.personInRoles.length">
        <h2>{{ 'catalog.personInRoles' | translate }}</h2>
        <ng-container *ngFor="let personInRole of study.personInRoles">
          <p *ngIf="personInRole.public">
            <span class="person-name">
              {{ personInRole.person.firstName }}
              {{ personInRole.person.lastName }}
            </span>
            <ng-container *ngIf="personInRole.role">
              <br>
              <em>{{ personInRole.role.prefLabel | lang }}</em>
            </ng-container>
            <ng-container *ngIf="personInRole.person.phone">
              <br>
              <em>{{ personInRole.person.phone }}</em>
            </ng-container>
            <ng-container *ngIf="personInRole.person.email">
              <br>
              <a href="mailto:{{ personInRole.person.email }}"
                 class="person-email">
                {{ personInRole.person.email }}
              </a>
            </ng-container>
          </p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="study.datasetTypes && study.datasetTypes.length">
        <h2>
          {{ 'datasetType' | translate }}
        </h2>
        <p *ngFor="let datasetType of study.datasetTypes">
          {{ datasetType.prefLabel | lang }}
        </p>
      </ng-container>

      <h2 *ngIf="study.usageCondition || (study.usageConditionAdditionalInformation | lang)">
        {{ 'usageCondition' | translate }}
      </h2>
      <p *ngIf="study.usageCondition">
        {{ study.usageCondition.prefLabel | lang }}
      </p>
      <p *ngIf="study.usageConditionAdditionalInformation">
        <span class="preserve-line-breaks">{{ study.usageConditionAdditionalInformation | lang }}</span>
      </p>

      <div *ngIf="study.links && study.links.length">
        <h2>{{'links'|translate}}</h2>
        <p *ngFor="let link of study.links">
          <a href="{{ link.linkUrl | lang }}" target="_blank">
            {{ link.prefLabel | lang }}
            <span class="glyphicon glyphicon-link"></span>
          </a>
        </p>
      </div>
    </div>

    <!-- Left main column -->
    <div class="col-sm-9 col-sm-pull-3">
      <div *ngIf="study.description | lang" class="row">
        <div class="col-xs-12">
          <h2>{{ 'description' | translate }}</h2>
          <p class="preserve-line-breaks">{{ study.description | lang }}</p>
        </div>
      </div>

      <div *ngIf="study.conceptsFromScheme.length || (study.freeConcepts | lang)"
           class="row">
        <div class="col-xs-12">
          <h2>{{ 'concepts' | translate }}</h2>
          <p style="line-height:2.2em;">
            <span *ngFor="let concept of study.conceptsFromScheme">
              <span pTooltip="{{ 'source' | translate }}: {{ concept.conceptScheme.prefLabel | lang }}"
                tooltipPosition="bottom"
                style="margin-right:1em;white-space:nowrap;">
                {{ concept.prefLabel | lang }}
              </span>
            </span>
            <ng-container *ngIf="study.freeConcepts && study.freeConcepts[language]">
              <span *ngFor="let concept of study.freeConcepts[language].split(';')">
                <span style="margin-right:1em;white-space:nowrap;">
                  {{ concept }}
                </span>
              </span>
            </ng-container>
          </p>
        </div>
      </div>

      <div *ngIf="study.unitType" class="row">
        <div class="col-xs-12">
          <h2 translate="unitType"></h2>
          <p>{{study.unitType.prefLabel|lang}}</p>
        </div>
      </div>

      <div class="row">
        <div *ngIf="study.universe"
          class="col-sm-6 col-md-4">
          <div class="bordered-box">
            <h2>{{ 'universe' | translate }}</h2>
            <p>{{ study.universe.prefLabel | lang }}</p>
            <p *ngIf="study.universe.description | lang">
              {{ study.universe.description | lang }}
            </p>
          </div>
        </div>

        <ng-container *ngIf="study.population">
          <div *ngIf="study.population.prefLabel | lang"
            class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'population' | translate }}</h2>
              <p>{{ study.population.prefLabel | lang }}</p>
            </div>
          </div>

          <div *ngIf="study.population.geographicalCoverage | lang"
            class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'geographicalCoverage' | translate }}</h2>
              <p>{{ study.population.geographicalCoverage | lang }}</p>
            </div>
          </div>

          <div *ngIf="study.population.sampleSize | lang"
            class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'sampleSize' | translate }}</h2>
              <p>{{ study.population.sampleSize | lang }}</p>
            </div>
          </div>

          <div class="clearfix visible-md-block"></div>

          <div *ngIf="study.numberOfObservationUnits"
            class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2 translate="catalog.CatalogStudyViewComponent.numberOfObservationUnits"></h2>
              <p>{{ study.numberOfObservationUnits }}</p>
            </div>
          </div>

          <div *ngIf="study.population.loss | lang"
            class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'loss' | translate }}</h2>
              <p>{{ study.population.loss | lang }}</p>
            </div>
          </div>

          <div *ngIf="study.referencePeriodStart || study.referencePeriodEnd"
            class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'catalog.referencePeriod' | translate }}</h2>
              <p>
                <ng-container *ngIf="study.referencePeriodStart">
                  {{ study.referencePeriodStart | date:'dd.MM.yyyy' }}
                </ng-container>
                —
                <ng-container *ngIf="study.referencePeriodEnd">
                  {{ study.referencePeriodEnd | date:'dd.MM.yyyy' }}
                </ng-container>
              </p>
            </div>
          </div>

          <div *ngIf="study.collectionStartDate || study.collectionEndDate"
               class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'catalog.collectionDate' | translate }}</h2>
              <p>
                <ng-container *ngIf="study.collectionStartDate">
                  {{ study.collectionStartDate | date:'dd.MM.yyyy' }}
                </ng-container>
                —
                <ng-container *ngIf="study.collectionEndDate">
                  {{ study.collectionEndDate | date:'dd.MM.yyyy' }}
                </ng-container>
              </p>
            </div>
          </div>

          <div class="clearfix visible-md-block"></div>

          <div *ngIf="study.lifecyclePhase" class="col-sm-6 col-md-4">
            <div class="bordered-box">
              <h2>{{ 'studyLifecyclePhase' | translate }}</h2>
              <p>{{ study.lifecyclePhase.prefLabel | lang }}</p>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>{{'datasets' | translate}}</h2>
      <ng-container *ngIf="study.datasets && study.datasets.length; else noStudyDatasets">
        <table class="table table-striped table-hover">
          <tr>
            <th>{{'prefLabel' | translate}}</th>
            <th>{{'description' | translate}}</th>
          </tr>
          <tr *ngFor="let dataset of study.datasets"
              routerLink="/catalog/studies/{{ study.id }}/datasets/{{ dataset.id }}"
              style="cursor: pointer;">
              <td>{{ dataset.prefLabel | lang}}</td>
              <td class="preserve-line-breaks">{{ dataset.description | lang }}</td>
          </tr>
        </table>
      </ng-container>
      <ng-template #noStudyDatasets>
        <p>{{ 'study.noDatasets' | translate}}</p>
      </ng-template>
    </div>
  </div>

</ng-container>

<ng-template #loadingStudy>
  <thl-spinner></thl-spinner>
</ng-template>

<hr>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default" routerLink="/catalog/studies">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{ 'back' | translate }}
    </button>
  </div>
</div>
