<div class="content-container">

  <div class="content-header container-fluid">
    <div class="col-xs-12">
      <h1>{{ 'loginComponent.title' | translate }}</h1>
    </div>
  </div>

  <div class="content-body container-fluid">

    <div *ngIf="showLogoutSuccessMessage"
         class="row bg-success">
      <div class="col-xs-12">
        <span class="text-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          {{ 'loginComponent.logoutSuccess' | translate }}
        </span>
      </div>
    </div>

    <div *ngIf="showLoginFailedMessage"
         class="row bg-danger">
      <div class="col-xs-12">
        <span class="text-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {{ 'loginComponent.loginFailed' | translate }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <form #loginForm="ngForm"
              (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Käyttäjätunnus</label>
            <input [(ngModel)]="username"
                   [disabled]="loginInProgress"
                   id="username"
                   name="username"
                   type="text"
                   class="form-control"
                   autofocus>
          </div>
          <div class="form-group">
            <label for="password">Salasana</label>
            <input [(ngModel)]="password"
                   [disabled]="loginInProgress"
                   id="password"
                   name="password"
                   type="password"
                   class="form-control">
          </div>
          <button [disabled]="loginInProgress"
                  type="submit"
                  class="btn btn-primary">
            {{ 'loginComponent.loginButton' | translate }}
          </button>
          <thl-spinner *ngIf="loginInProgress"></thl-spinner>
        </form>
      </div>
    </div>

  </div>

</div>
