<div class="input-group">
      <input type="text" [(ngModel)]="searchText" (keyup)="delayedSearchInstanceVariables(searchText)" placeholder="{{'catalog.searchInstanceVariable.searchForVariables' | translate}}" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="delayedSearchInstanceVariables(searchText)">
            <span class="glyphicon glyphicon-search"></span>
        </button>       
      </span>
</div>

<ng-container *ngIf="searchInProgress">
  <thl-spinner></thl-spinner>
</ng-container>

<ng-container *ngIf="instanceVariables && !searchInProgress">
    <div class="search-results-summary">
        <span>{{'catalog.searchInstanceVariable.searchSummary' | translate:{resultCount: instanceVariables.length} | uppercase}} "{{searchText}}"</span>
    </div>
    <ng-container *ngFor="let variable of instanceVariables">
        <instance-variable-search-result [instanceVariable]="variable"></instance-variable-search-result>
        <hr>
    </ng-container>
</ng-container>