.search-result {
    margin: 1em 1em;
    padding-right: 1em;
}

.instance-variable-header {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

.variable-label {
    border-style: solid;
    border-width: 2px;
    border-color: #01A197;
    text-align: center;
    color: #01A197;
}

.variable-label a {
    color: #01A197;
}

.variable-label-inactive {
    border-style: solid;
    border-width: 2px;
    border-color:lightgray;
    text-align: center;
    color: #767676;
}

.dataset-label {
    color: #01A197;
    margin: 1em 0;
}

.dataset-label a{
    color: #01A197;
}

.reference-period-range {
    margin: 1em 0;
}


