nav.breadcrumb {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 122; /* has to be less than main navigation's z-index */
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: .8em;
}

nav.breadcrumb span.divider {
  padding-left: .7em;
  padding-right: .7em;
  color: #01837A;
}
