<ng-container *ngIf="variable">
  <p-dialog [visible]="variable"
            (onHide)="doCancel()"
            (visibleChange)="doCancel()"
            modal="modal"
            draggable="false"
            resizable="false"
            closeOnEscape="false"
            [style]="{ 'width': '500px'}">
    <p-header>
      {{ (variable.id ? 'editVariable' : 'addVariable') | translate }}
    </p-header>
    <form #variableForm="ngForm">
      <div class="container-fluid">
        <div [ngClass]="{ 'bg-danger': formErrors.prefLabel && formErrors.prefLabel.length }"
             class="row">
          <div class="col-xs-12">
            <div [ngClass]="{ 'has-error': formErrors.prefLabel && formErrors.prefLabel.length }"
                 class="form-group">
              <label for="prefLabel">
                {{ 'prefLabel' | translate }}
                <thl-requiredFieldIndicator></thl-requiredFieldIndicator>
              </label>
              <input [(ngModel)]="variable.prefLabel[language]"
                     id="prefLabel"
                     name="prefLabel"
                     type="text"
                     class="form-control"
                     required>
              <p *ngFor="let errorKey of formErrors.prefLabel"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
        </div>

        <div [ngClass]="{ 'bg-danger': formErrors.description && formErrors.description.length }"
             class="row">
          <div class="col-xs-12">
            <div [ngClass]="{ 'has-error': formErrors.description && formErrors.description.length }"
                 class="form-group">
              <label for="description">
                {{ 'description' | translate }}
                <thl-requiredFieldIndicator></thl-requiredFieldIndicator>
              </label>
              <textarea [(ngModel)]="variable.description[language]"
                        thlAutogrow
                        id="description"
                        name="description"
                        class="form-control"
                        rows="3"
                        required>
              </textarea>
              <p *ngFor="let errorKey of formErrors.description"
                 class="text-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorKey | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p-footer>
      <div>
        <button (click)="doSave()"
                [disabled]="savingInProgress"
                class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          {{ 'save' | translate }}
        </button>
        &nbsp;
        <button (click)="doCancel()"
                [disabled]="savingInProgress"
                class="btn btn-default">
          {{ 'cancel' | translate }}
        </button>
      </div>
    </p-footer>
  </p-dialog>
</ng-container>
