<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6 editor-login-actions">
      <div class="row editor-login-actions-content-container">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <h2>{{'editorLoginComponent.loginHeading' | translate}}</h2>
        </div>

        <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-option-button-container">
          <button *ngIf="showVirtuLoginButton"
                  (click)="redirectToVirtuLogin()"
                  [disabled]="thlLoginInProgress"
                  type="button"
                  class="btn btn-default login-option-button">
            {{'editorLoginComponent.loginOptionVirtu' | translate}}
          </button>

          <button (click)="toggleThlLoginExpanded()"
                  type="button"
                  class="btn btn-default login-option-button">
            {{'editorLoginComponent.loginOptionThl' | translate}}
            <i *ngIf="!thlLoginExpanded" class="fa fa-angle-down expand-collapse-icon" aria-hidden="true"></i>
            <i *ngIf="thlLoginExpanded" class="fa fa-angle-up expand-collapse-icon" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 thl-login-fields-background">

          <div *ngIf="showVirtuLoginFailedMessage || showThlLoginFailedMessage" class="col-xs-12 login-failure-message bg-danger text-danger">
            <i class="fa fa-exclamation login-failure-icon" aria-hidden="true"></i>
            {{ (showVirtuLoginFailedMessage ? 'editorLoginComponent.virtuLoginFailed' : 'editorLoginComponent.thlLoginFailed') | translate }}
          </div>

          <div *ngIf="thlLoginExpanded" class="thl-login-fields">

            <form #loginForm="ngForm" (ngSubmit)="thlLogin()" autocomplete="off">
              <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                  <div class="form-group">
                    <label for="username">{{'editorLoginComponent.userName' | translate}}</label>
                    <input [(ngModel)]="username"
                          [disabled]="thlLoginInProgress"
                          id="username"
                          name="username"
                          type="text"
                          class="form-control"
                          autofocus
                          autocomplete="off">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                  <div class="form-group">
                    <label for="password">{{'editorLoginComponent.password' | translate}}</label>
                    <input  [(ngModel)]="password"
                            [disabled]="thlLoginInProgress"
                            id="password"
                            name="password"
                            type="password"
                            class="form-control"
                            autocomplete="off">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                  <button [disabled]="thlLoginInProgress"
                          (click)="thlLogin()"
                          type="submit"
                          class="btn btn-default thl-login-button">
                    {{ 'editorLoginComponent.loginButton' | translate | uppercase}}
                  </button>
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-10 thl-troubleshoot">
                  {{'editorLoginComponent.thlTroubleshootContact' | translate}}
                </div>

              </div>
              <div *ngIf="thlLoginInProgress" class="login-spinner"><thl-spinner></thl-spinner></div>
            </form>
          </div>
        </div>

        <div class="col-xs-12 col-sm-offset-3 col-sm-6 generic-troubleshoot">
          {{'editorLoginComponent.genericTroubleshootContact.message' | translate}}
          <br>
          <a href="mailto:{{'editorLoginComponent.genericTroubleshootContact.email' | translate}}">{{'editorLoginComponent.genericTroubleshootContact.email' | translate}}</a>
        </div>

        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <login-advice></login-advice>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-sm-pull-6 editor-login-info">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <h1>{{'datasetEditor' | translate}}</h1>
          <about-editor></about-editor>
        </div>
      </div>
    </div>
  </div>

  <logout-message *ngIf="showLogoutSuccessMessage" [message]="logoutMessage" [messageDetails]="logoutMessageDetails" (onClose)="closeLogoutMessage()"></logout-message>
</div>
