<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title th:text="${name}">head fragment</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic"
              rel="stylesheet" />

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
              rel="stylesheet"
              type="text/css" />

        <link href="../css/theme.css"
              th:href="@{/css/theme.css}"
              rel="stylesheet"
              type="text/css" />

        <script src="//code.jquery.com/jquery-2.2.4.min.js"
                th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"
                th:src="@{/webjars/angularjs/1.5.7/angular.min.js}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"
                th:src="@{/webjars/angularjs/1.5.7/angular-route.min.js}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"
                th:src="@{/webjars/angularjs/1.5.7/angular-resource.min.js}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"
                th:src="@{/webjars/angularjs/1.5.7/angular-sanitize.min.js}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"
                th:src="@{/webjars/angularjs/1.5.7/angular-cookies.min.js}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate.min.js"
                th:src="@{/webjars/angular-translate/2.11.0/angular-translate.min.js}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/0.1.2-1/angular-translate-loader-url/angular-translate-loader-url.min.js"
                th:src="@{/webjars/angular-translate-loader-url/0.1.2-1/angular-translate-loader-url.min.js}"></script>

        <script src=""
                th:src="@{/webjars/angular-i18n/1.5.8/angular-locale_fi-fi.js}"></script>
        
        <script src="../static/js/themecommon.js"
                th:src="@{/js/themecommon.js}"></script>

        <script src="../static/js/themeapp.js"
                    th:src="@{/js/themeapp.js}"></script>
    </head>
    <body>
    </body>
</html>


